[2012-11-15 17:52] slarson opened #1 "Consolidate the branches into the master"
We should combine the branches into a single master that represents the latest version

[2013-03-08 12:14] skhayrulin opened #2 "Add posibility to run without graps to input params"

[2013-03-08 12:15] skhayrulin opened #3 "Fix bug with sprintf on linux machine."

[2013-03-11 04:53] #2 closed, assigned to skhayrulin

[2013-03-14 09:20] #3 closed, assigned to skhayrulin

[2013-05-28 06:12] a-palyanov opened #4 "Analyze and fix the situation with simulation's scale -- currently it's completely irrelevant"
Currently the mass of single particle = 0.0003 kg (significantly larger then the mass of the whole real worm), as well as distance between 2 adjacent particles r0 = 0.0067 m.

For a model made of, for example, 1e+05 particles single mass should be 3.25e-14 kg and r0 = 0.0032 mm = 3.2e-6 m.

We need to reconfigure the set of physical constants to these new conditions keeping the simulation stable.

[2013-06-05 15:39] #4 closed, assigned to a-palyanov

[2013-06-22 01:26] a-palyanov opened #5 "Implement new type of matter supported by simulation engine - membranes impermeable for particles. This will allow creation of objects like worm body shell or cell membrane, etc."

[2013-11-30 18:18] #1 closed, assigned to nobody

[2013-11-30 18:18] #5 closed, assigned to a-palyanov

[2014-01-04 04:03] a-palyanov opened #14 "Sibernetic+Python[windows,MSVC]: PyImport_Import() returns NULL (can't load Python module)"
PYTHONPATH already contains a path to main_sim.py (C:\GitHub\Smoothed-Particle-Hydrodynamics\src) - this doesn't help.
Putting main_sim.py (and main_sim.pyc) into Python directory (I've tried C:\Python27;C:\Python27\libs) also gives no effect.

[2014-01-05 10:54] #14 closed, assigned to a-palyanov

[2014-01-05 10:56] a-palyanov opened #15 "Several muscle connections are missing at one side of the worm"
This is what I see when I've downloaded most recent version from master branch.

[2014-01-05 12:35] #15 closed, assigned to a-palyanov

[2014-02-25 08:39] a-palyanov opened #19 "Choose the best method of integration of equations of movement"
Choose the best method of integration of equations of movement taking into account recently discovered problem of finite precision of float datatype (more information here: https://github.com/openworm/OpenWorm/issues/158 )
There are many methods available. I've implemented and compared a set of them: Explicit Euler, Implicit Euler, Improved Euler, Velocity Verlet, Runge-Kutta 2nd order and LeapFro

[2014-02-25 09:31] a-palyanov opened #20 "Too high distance of repulsion from border particles."
Screenshot below illustrates the problem. Expected value of repulsion distance is ~twice less then observed one.
![19](https://f.cloud.github.com/assets/1803774/2255996/8fb851ac-9dff-11e3-9151-e8d0060aba8f.png)

[2014-02-27 12:03] tarelli opened #21 "Sibernetic crashes on MacBook Pro with OpenCL 1.2"
I compiled successfully Sibernetic but as soon as I launch it, after briefly showing the worm, it crashes with the following error:

[code]

[2014-02-27 13:06] #21 closed, assigned to nobody

[2014-02-27 13:24] tarelli opened #22 "Sibernetic crashes when using GPU"
[code]

[2014-03-06 11:52] a-palyanov opened #24 "Compare real and simulated C. elegans muscles; tune muscle model to get maximal similarity."

[2014-03-12 11:32] a-palyanov opened #25 "Pressure inside C. elegans body shell - in reality and in simulation"
I've decided to consider a simple model of a 'spherical worm in vacuum' for better understanding of the problem (how to calculate pressure inside Sibernetic worm body model?).
Liquid is almost incompressible, not only in reality, but in PCISPH simulation as well.  So, pressure is caused not by liquid compression, but by elastic shell tension. I've performed some math and got the following formula

[2014-04-20 18:32] slarson opened #26 "Problems building on OSX"
$ make all -f makefile.OSX
Building file: src/PyramidalSimulation.cpp
Invoking: clang C++ Compiler
g++ -O1 -Wall -c -I/usr/local/Cellar/python/2.7.6/Frameworks/Python.framework/Headers/ -framework OpenCL -fmessage-length=0 -MMD -MP -MF"build/PyramidalSimulation.d" -MT"build/PyramidalSimulation.d" -o "build/PyramidalSimulation.o" "src/PyramidalSimulation.cpp"
clang: warning: -framework OpenCL: 'lin

[2014-04-21 16:13] tarelli opened #27 "Bring changes from testing_geppetto_config into master"
The changes in testing_geppetto_config allow for better decoupling between the simulation and the kernel
- [ ] Merge into master
- [ ] Check the kernel in membranesPorting of org.geppetto.solver.sph and kernel in master of sibernetic is the same after this

[2014-04-29 13:21] #27 closed, assigned to skhayrulin

[2014-04-29 17:50] NHDaly opened #30 "Crashes in Mac OSX WITHOUT using GPU... (basic build)"
I'm not sure if this is related to #21 or #22, but after I built Sibernetic and ran it, it crashes after about 3 seconds.

Here's what I printed from the command-line:

[code]

And here's some output from running it in GDB:

[code]

And finally, if it helps, here's my stacktrace:

[code]

[2014-05-07 19:06] slarson opened #32 "segfaults under Linux"
Latest sph/master segfaults on Linux.
Looks unrelated to previous segfaults.

gdb output.

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffff1578700 (LWP 20889)]
0x00007ffff034e8bc in __OpenCL_computeInteractionWithMembranes_kernel (position=0x7ffff02bc000, velocity=0x7ffff01a4000, sortedPosition=0x7ffff0230000, particleIndex=0x6a8000, particleIndexBack=0xb3a000,

[2014-05-07 19:14] slarson opened #33 "log to file option disables graphical output"
when Sibernetic is run with -l_to option, OpenGL is deactivated and the simulation is not displayed on the screen. It should be possible to log and display the simulation at the same time.

Originally filed by @msasinski

Transferred here from the main OpenWorm board in [this issue](https://github.com/openworm/OpenWorm/issues/195)

[2014-05-07 19:15] slarson opened #34 "segfaults when PYTHONPATH is not set correctly"
When PYTHONPATH is not set correctly, or not set at all Sibernetic will run one step and then segfault. Instead, when the path is invalid, the application should throw an error an exit.

Originally filed by @msasinski

Transferred here from the main OpenWorm board in [this issue](https://github.com/openworm/OpenWorm/issues/193)

[2014-05-07 19:16] slarson opened #35 "error #001computeInteractionWithMembranes"
Sibernetic occasionally throws bunch of " error #001computeInteractionWithMembranes" errors.

Originally filed by @msasinski

Transferred here from the main OpenWorm board in [this issue](https://github.com/openworm/OpenWorm/issues/186)

[2014-05-07 19:21] slarson opened #36 "memory leak"
There is a definite memory leak in Sibernetic. The following numbers are results reported just after one step:
definitely lost: 2,376 bytes in 32 blocks
indirectly lost: 47,395 bytes in 26 blocks
possibly lost: 119,568,211 bytes in 1,231 blocks

Originally filed by @msasinski

Transferred here from the main OpenWorm board in [this issue](https://github.com/openworm/OpenWorm/issues/194)

[2014-05-07 19:22] slarson opened #37 "segfault"
Sibernetic will segfault instead of exiting cleanly after pressing CTRL + C

Originally filed by @msasinski

Transferred here from the main OpenWorm board in [this issue](https://github.com/openworm/OpenWorm/issues/185)

[2014-05-07 19:46] slarson opened #38 "Worm crashes after few steps"
![ow](https://cloud.githubusercontent.com/assets/495382/2765198/33ae657e-ca21-11e3-96f5-59680310f7db.jpg)

Originally filed by @msasinski

Transferred here from the main OpenWorm board in [this issue](https://github.com/openworm/OpenWorm/issues/184)

[2014-05-07 19:49] slarson opened #39 "Can't compile Sibernetic under Ubuntu Linux"
Building file: ../src/PyramidalSimulation.cpp
Invoking: GCC C++ Compiler
g++ -I/usr/include/python2.7/ -O3 -Wall -c -fmessage-length=0 -MMD -MP -MF"src/PyramidalSimulation.d" -MT"src/PyramidalSimulation.d" -o "src/PyramidalSimulation.o" "../src/PyramidalSimulation.cpp"
In file included from ../src/PyramidalSimulation.cpp:12:0:
../src/PyramidalSimulation.h:8:42: fatal error: C:/Python27/include/Pyt

[2014-05-07 19:52] slarson opened #40 "Create PPA for Sibernetic"
By popular request from the community. A PPA is a personal package archive that enables code to get installed on Ubuntu

[2014-05-07 19:56] slarson opened #41 "Cleanup SPH repository"
I'm no C++ guru so I'd like clarification about this. There are a few things which I'm not sure should be there:

"Release" folder
.project files
.cproject

Originally filed by @vellamike

Transferred here from the main OpenWorm board in [this issue](https://github.com/openworm/OpenWorm/issues/151)

[2014-05-08 10:35] Nicola17 opened #42 "VS2012 support"
I've seen that a vs2008 project exists. I was wondering if it would be possible to create the vs2012 project.

[2014-05-12 16:47] #39 closed, assigned to nobody

[2014-05-12 19:35] #30 closed, assigned to nobody

[2014-05-14 11:55] msasinski opened #45 "setting generateWormBodyConfiguration to 1 breaks the simulation"
Changing generateWormBodyConfiguration to 1 causes Sibernetic to display only liquid particles without the worm body. Sibernetic reports 0.0 FPS in the UI, and 0.0025 FPS in the console.

OS: Linux
OpenCL: AMD 1.2
Hardware: Tested on two machines
1. i5 CPU with integrated graphics
2. XEON E3 with AMD R9 270x

[2014-05-14 13:43] #32 closed, assigned to skhayrulin

[2014-05-21 16:00] #20 closed, assigned to a-palyanov

[2014-06-09 08:57] a-palyanov opened #47 "Following OpenCL technology progress:"
Hi guys,
recently I came across the following information:
(http://en.wikipedia.org/wiki/OpenCL#OpenCL_1.2)
"OpenCL 2.0. On November 18, 2013, the Khronos Group announced the ratification and public release of the finalized OpenCL 2.0 specification. Updates and additions to OpenCL 2.0 include:

   Shared Virtual Memory
   Nested Parallelism
   Generic Address Space
   Images
   C11 Atomics
   Pipe

[2014-06-27 00:39] slarson opened #48 "gl.h contains licensed content -- should be replaced with open source version"
Looks like we let some [non-open source code creep into the membranes branch](https://github.com/openworm/Smoothed-Particle-Hydrodynamics/blob/e4117960b01e640feaf08dd69673230bef539632/inc/GL/gl.h).

@skhayrulin can we replace with [another version](http://www.opensource.apple.com/source/X11libs/X11libs-60/mesa/Mesa-7.8.2/include/GLES/gl.h) that is clearly open source?

[2014-06-30 16:21] tarelli opened #49 "Check if the development branch which doesn't use doubles works with my GPU"

[2014-07-07 07:32] #48 closed, assigned to nobody

[2014-08-04 05:29] skhayrulin opened #51 "Remove old branches from repositories"
Next branches was removed : electrophysiology (last update was 8 month ago), integrated_electrophysiology (last update was 1 year), integrated_multicompartment_electrophysiology (last update was 1 year). All src stored here:
<ul>
<li>
<a href="https://www.dropbox.com/s/8t3n75ncvuvuleb/Smoothed-Particle-Hydrodynamics-electrophysiology.zip">electrophysiology</a>
</li>
<li>
<a href="https://www.dropb

[2014-08-11 00:31] wilzh40 opened #52 "Problems with OpenCL and installing with Linux"
Hi,
I wanted to try installing on a new computer, but I was getting errors within the header files in opencl,
in `/usr/include/CL`. It was returning errors saying that method definitions/variables inside the header files were not defined, similar to:

https://bbs.archlinux.org/viewtopic.php?id=131077

[2014-08-22 03:34] wilzh40 opened #54 "Problems from reading from file, "-l_from""
I'm running `Release/Sibernetic -l_from` and it crashes.
I've been logging points to file using `-l_to` for about 50,000 steps when I stopped it by using ctrl-c. It saved into a file called  "position_buffer_binary_hope_correct.txt", which didn't match the readme ("position_buffer.txt") so I used `cp position_buffer_binary_hope_correct.txt position_buffer.txt` and tried running it again. Both time

[2014-10-05 20:03] alda30 opened #56 "Installation error!"
Regarding the installation instructions, in the Release folder (in ../bin/) there is no "makefile" to run

[code]

or

[code]

Can you help me?

[2014-10-06 15:07] albi3ro opened #57 "Segfault in program.build()"
So I am trying to run the program for the first time, and am running into a segfault at owOpenCLSolver.cpp line 309

	err = program.build( devices, "");

I'm running Ubuntu 14.04 with a Intel i5 processor.  I replicated the error on another computer, also lenovo with a different linux distribution.

The backtrace on gdb:

#0  0x00007ffff2a91810 in ?? () from /opt/intel/intel-opencl-1.2-4.6.0.92/op

[2014-10-07 06:37] #56 closed, assigned to nobody

[2014-11-04 14:01] pgleeson opened #59 "Add info on command line options available when Sibernetic run with -help"
Working on this here: https://github.com/pgleeson/Smoothed-Particle-Hydrodynamics/blob/WormBodySimulation/src/main.cpp#L61

Example of current output:

    Sibernetic
      This is a C++ implementation of the Contractile SPH (Electrofluid) algorithm applied to C. elegans locomotion
        Usage:  ./Release/Sibernetic [OPTION]
       -no_g       Run without graphics
       -l_to       Save simulat

[2015-03-26 06:43] skhayrulin opened #60 "From time to time appearing strange behaviour"
Sometime Sibernetc shows strange behaviour when start: explosion, fluctuation of springs etc. Looks like race condition somewhere.
- [x] make branch for this bug
- [x] log and compare data for bug and nobug run
- [ ] understood why strange values in acceleration is appearing
should be like this
![screenshot from 2015-03-26 12 39 51](https://cloud.githubusercontent.com/assets/1581992/6841475/23411b

[2015-03-26 10:23] ignotur commented on #60
What do you color-coded as blue dots which still inside the box in  wrong simulation?

[2015-03-26 10:27] skhayrulin commented on #60
blue it's a water particles, black is a elastic particles, red lines are elastic connections, meanwhile blue triangles are membranes.

[2015-03-26 10:32] skhayrulin commented on #60
branch for this bug is <a href="https://github.com/openworm/Smoothed-Particle-Hydrodynamics/tree/fixBug_%2360">here</a>

[2015-04-01 20:03] ignotur commented on #60
I have started the program more than 30 times and I didn't manage to catch this bug. All times the cube in the centre formed a sphere and then it started to fall down.

[2015-04-02 04:49] skhayrulin commented on #60
What is you OpenCL device and what version of OpenCL driver do you use? Actually I saw this problem not only on my machine as I remember @pgleeson and @a-palyanov had the same problem on their machines.

[2015-04-02 14:44] pgleeson commented on #60
My info:
CL_PLATFORM_VERSION [0]: 	OpenCL 1.2 AMD-APP (1214.3)
CL_CONTEXT_PLATFORM [0]: CL_DEVICE_NAME [0]:	Intel(R) Core(TM) i7 CPU       M 620  @ 2.67GHz

I sometimes get:

![selection_633](https://cloud.githubusercontent.com/assets/1556687/6966195/14f45ede-d94f-11e4-9415-49812d936687.jpg)

![selection_634](https://cloud.githubusercontent.com/assets/1556687/6966201/1b18874a-d94f-11e4-9b30-b44424

[2015-04-02 14:46] ignotur commented on #60
Could you please be more specific. Sometimes is one out of 10 runs or less frequent?

[2015-04-02 14:53] pgleeson commented on #60
Worked fine first time I ran Sibernetic today, is happening every time I run it now. Generally a restart resolves the problem. Haven't looked into this in a while...

[2015-04-02 16:34] skhayrulin commented on #60
On my machine it happen from time to time I can't make any predictions when or calculate frequency. After some research I can say that probably the problem is in elastic force calculation kernel <a href="https://github.com/openworm/Smoothed-Particle-Hydrodynamics/blob/development/src/sphFluid.cl#L616-L678">here</a> especially in this <a href="https://github.com/openworm/Smoothed-Particle-Hydrodyna

[2015-04-02 16:39] ignotur commented on #60
Ok, at the first glance for me it seems unavoidable that sometimes this condition is not enough if(r_ij!=0.f).
Probably it is better to write if (abs(r_ij) > some_small_number)
What do you think?

[2015-04-02 17:40] skhayrulin commented on #60
I think that it doesn't explain why explosion happens actually I didn't see too small value of r_ij when I debugged a code. And you can see that r_ij is needed only for normalization of vector vect_r_ij, sorry may be it's not obvious we use <a href="https://github.com/openworm/Smoothed-Particle-Hydrodynamics/blob/development/src/sphFluid.cl#L663">here</a> specific OpenCL objects vector (float4) so

[2015-04-06 12:11] skhayrulin commented on #60
I made two experiments description: I took two run one is correct (without explosion) and incorrect, log info can see <a href="https://github.com/openworm/Smoothed-Particle-Hydrodynamics/blob/fixBug_%2360/src/sphFluid.cl#L680-L695">here</a>, also I comment <a href="https://github.com/openworm/Smoothed-Particle-Hydrodynamics/blob/fixBug_%2360/src/sphFluid.cl#L691">line</a> and I also have two run.

[2015-07-07 05:52] skhayrulin opened #61 "Problem with display of device name when we use GPU"

[2015-07-08 06:00] skhayrulin opened #62 "Add LeapFrog Integrator"
Add LeapFrog Integrator and put possibility switch between semi-implicit Euler and LeapFrog
- [x] Add code for LeapFrog integrator
- [x] Test
- [x] add possibility to choose method of Integration (Euler or LeapFrog)
- [x] Commit code and merge into development and in WormBodySimulation branch

[2015-07-08 12:33] skhayrulin commented on #59
Hi @pgleeson
I'm planning to include this enhancement into current code of Sibernetic in development branch could you please make pull request if everything is ready to be merged?

[2015-07-08 16:46] #19 closed

[2015-07-08 16:48] #25 closed

[2015-07-08 16:53] #57 closed

[2015-07-09 18:09] pgleeson commented on #59
Ok, need to check my local copy, I have a number of modifications including this. Does the development branch use the WormBodySimulation as default, I was working in that branch? Last time I looked that was using the falling cube.

Actually, would it be straightforward to switch between the test cube and the worm body sim using a command line option, i.e. so all updates get reflected on the develo

[2015-07-10 03:54] skhayrulin commented on #59
* Does the development branch use the WormBodySimulation as default, I was working in that branch?

Please make pull request in WormBodySimulation branch, for now in development branch no worm code.

* Actually, would it be straightforward to switch between the test cube and the worm body sim using a command line option, i.e. so all updates get reflected on the development branch?

I'm planning to

[2015-07-10 08:33] pgleeson commented on #59
See #63

[2015-07-10 09:17] #62 closed

[2015-07-10 09:20] skhayrulin opened #66 "Add worm configuration to development branch"
- [ ] make text worm configuration in   WormBodySimulation branch
- [ ] add it in dev branch
- [ ] add possibility in command argument run worm body config

[2015-07-10 13:12] skhayrulin opened #67 "Update README.md file"

[2015-07-11 15:54] skhayrulin opened #68 "Add ability to make snapshots of current configuration"
- [ ] Add in owHelper class static method makeSnapsot which is making configuration files in configuration folder
- [ ] run this method after pressing S

[2015-07-11 16:09] #26 closed

[2015-07-12 17:01] #24 closed

[2015-07-14 03:33] skhayrulin opened #69 "Rename Repository"
Rename repo from Smoothed-Particle-Hydrodynamics to sibernetic

[2015-07-14 03:33] #69 closed

[2015-07-15 10:36] #68 closed

[2015-07-15 11:47] skhayrulin opened #70 "Fix -l_to -l_from directive in development"

[2015-07-15 12:01] #70 closed

[2015-07-16 04:06] skhayrulin opened #71 "Fix Sibernetic site :)"
- [ ] update README.rm file from development (a lot of info there)

[2015-07-16 08:58] #54 closed

[2015-07-16 08:58] #59 closed

[2015-07-16 09:00] #66 closed

[2015-07-16 10:15] #67 closed

[2015-07-16 10:47] skhayrulin commented on #59
@pgleeson I just want to noticed you that I've finished with big update of Sibernetic code.
 * I added possibility to make snapshot of current configuration just press 's' when run Sibernetic
 * I merged all updates from WormBodySimulation branch into development branch. I recommend you to work with development branch for now. For run worm simulation you just need run this ./Release/Sibernetic -f

[2015-07-16 16:50] pgleeson commented on #59
Thanks @skhayrulin, looks like a great update. Works fine on my machine, and even intermittent problem with the worm blowing up seem to have stopped. Will be 1-2 weeks before I have time for a detailed look, but will certainly make more updates to development & make pull requests.

[2015-07-17 05:46] #37 closed

[2015-07-17 05:46] skhayrulin commented on #37
I didn't see this problem in current version of code

[2015-07-20 17:13] skhayrulin commented on #71
current adres http://openworm.github.io/sibernetic/

[2015-07-21 18:07] #33 closed

[2015-07-27 10:41] #61 closed

[2015-07-27 10:44] skhayrulin opened #72 "Make release v0.0.3"
- [x] Mearge all updates into master branch
- [x] Add announce

[2015-07-27 17:39] skhayrulin opened #73 "Add possibility run sibernetic on multi-devices environment"

[2015-07-28 08:02] #72 closed

[2015-07-29 04:28] skhayrulin opened #75 "Sibernetic NEURON interaction"

[2015-07-29 04:28] #22 closed

[2015-07-29 04:56] skhayrulin opened #76 "Bug when you run sibernetic with key device=gpu but you don't have any gpu it generates Segmentation fault"

[2015-07-29 08:59] #76 closed

[2015-07-30 04:01] #71 closed

[2015-08-14 11:16] #34 closed

[2015-08-17 15:56] pgleeson opened #79 "Create a configuration file for the worm without external liquid"
@skhayrulin would it just be a case of copying https://github.com/openworm/sibernetic/blob/development/configuration/worm and removing the positions of external water particles? How can these be identified in the current file?

Motivation for this is testing the worm sim with different inputs in the absence of liquid, which may speed up the simulation and demonstrate overall worm body behaviour (d

[2015-08-18 03:37] skhayrulin commented on #79
@pgleeson I've just added configuration file without water in [configuration folder](https://github.com/openworm/sibernetic/tree/development/configuration) name is worm_no_water

[2015-08-18 08:19] pgleeson commented on #79
Great, thanks! It's definitely speeded things up. However, the activation doesn't seem to be going into the muscles in this version. Maybe by default if there's any mention of 'worm' in the configuration file name then try to add the contractions?

[2015-08-18 10:14] skhayrulin commented on #79
@pgleeson you're right sorry forgot about this and now have no ability to fix it. You should change this lines [70](https://github.com/openworm/sibernetic/blob/development/inc/owConfigProperty.h#L70) and [122](https://github.com/openworm/sibernetic/blob/development/inc/owConfigProperty.h#L122) add addition condition in **if** statement
[code]
in both lines

[2015-08-18 10:51] a-palyanov commented on #79
@skhayrulin, are you sure about '&&'? maybe '||'?

Line 70 also should be modified:
'bool isWormConfig(){ return (configFileName == "worm" )? true:false;'
should become
'bool isWormConfig(){ return (configFileName == "worm" || configFileName == "worm_no_water")? true:false;'

After this it works correctly.

[2015-08-18 12:24] skhayrulin commented on #79
@a-palyanov yes you right || not &&

[2015-08-19 04:33] skhayrulin commented on #79
Guys I've updated the code it in repository now

[2015-08-19 08:06] pgleeson opened #80 "Handling of saved configuration files"
It would be nice to be able to save multiple snapshots of the current simulation. Currently, pressing s saves the config to ./configuration/snapshot/configuration_default. If it gets pressed again, the configuration_default file gets overwritten. Maybe append the file with the current date? Or use a file name based on the original config file loaded, e.g.

    demo1_09.02.34_19Aug2015
    worm_10.

[2015-08-19 08:40] pgleeson opened #82 "Reloading saved simulations with -l_from"
It's great to be able to save and replay simulations with -l_from and -l_to. A few minor suggestions to improve the interactivity of this:

- [ ] At the end of a reloaded/replayed simulation, don't quit the GUI, keep it open and allow the final scene to be viewed/rotated
- [x] Allow the loaded simulation to be replayed from the start (by pressing 'r'), in addition to pausing ('s')
- [x] Allow a co

[2015-08-19 08:41] pgleeson commented on #79
Works great for me now, thanks!

[2015-08-19 08:41] #79 closed

[2015-08-19 10:15] skhayrulin commented on #80
@pgleeson about dynamical name of snapshots I though about it but haven't implemented yet. I think it won't be difficult.
About path:  actually it's historically I stored all configuration in configuration folder so by default I'm always looking for the file with config in configuration folder. But main problem here is that I can't run custom configuration from other location not configuration fol

[2015-08-19 12:10] skhayrulin commented on #80
@pgleeson I've added feature with name of snapshot file now it appends current time and date in the end of file name

[2015-09-03 10:35] skhayrulin opened #83 "For new surface tension force calculation method conservation energy law doesn't work."
In viscousFrictionTest branch we implement new method of [calculation surface tension force](http://cg.informatik.uni-freiburg.de/publications/siggraphasia2013/2013_SIGGRAPHASIA_surface_tension_adhesion.pdf). Add two addition kernels [pcisph_computeNormales](https://github.com/openworm/sibernetic/blob/viscousFrictionTest/src/sphFluid.cl#L521) and [pcisph_calcSurfaceTension](https://github.com/open

[2015-09-23 11:42] #80 closed

[2015-09-29 08:25] skhayrulin opened #84 "Problem with increasing value of viscosity."
Trying to increase value of viscosity drive to explosion.
- [x] Try to understood what parameters influence on value of viscosity in simulation (mass, surface tension parameter, time step ...)
- [x] Try  to define what limitation it has according to other parameters.

[2015-10-06 12:01] skhayrulin opened #85 "Make putting output data into special format for geppetto."
For more info see [issue](https://github.com/openworm/org.geppetto.simulator.sph/issues/36#issuecomment-153258523)

[2015-10-07 07:15] #45 closed

[2015-10-07 07:15] #75 closed

[2015-10-07 07:15] #38 closed

[2015-10-07 07:15] #35 closed

[2015-10-08 11:35] #60 closed

[2015-10-26 09:52] skhayrulin commented on #82
Add option logstep=N, which makes possible log config every N steps in -l_to mode

[2015-11-09 09:22] skhayrulin commented on #84
It looks like increasing of viscosity value lead to increasing of acceleration and velocity thus and other inner forces aren't able to decrease it

[2015-11-10 08:16] skhayrulin opened #86 "Update README.MD"

[2015-11-17 09:08] #84 closed

[2015-11-17 09:08] #83 closed

[2015-11-23 08:01] skhayrulin opened #87 "Memory Leak when run Sibernetic with worm config"
When run sibernetic with worm config (./Release/Sibernetic -f worm) memory leak is appearing.

[2015-11-23 08:29] #87 closed

[2015-11-25 10:27] #36 closed

[2015-12-24 17:09] slarson opened #88 "Enable command line input for several parameters"
- [x] Path that the output files get saved to
- [ ] Muscle force (per single muscle fiber)
- [ ] Viscosity (liquid within body)
- [ ] Viscosity (liquid outside body)
- [ ] Coefficient of friction between particle types
- [ ] Elasticity coefficient

[2015-12-24 17:12] slarson opened #89 "Create a startup script that runs Sibernetic based on Environment Variables"
Should be a BASH script (or possibly python) that uses environment variables to set various command line parameters.  This is intended to be used as a default startup script in a docker instance to run multiple runs of Sibernetic in parallel on the cloud.

Script configures:
- [ ] Path of the output file
- [ ] Path to the configuration file to use
- [ ] Various numerical parameters (as defined in

[2015-12-24 17:13] slarson opened #90 "Create a Tutum Stackfile that will enable multiple runs of Sibernetic"
Output needs to be mapped to a central container that can store all the output.

First MVP of this is one container running Sibernetic linked to one container that receives the output.

[2016-01-04 22:49] jamiemori commented on #90
Trying to figure out a more elegant way to run a data-only container (using docker-compose and yaml files), but a quick and dirty way to achieve the MVP is:

1)  Run sibernetic in a docker container following these directions: https://gist.github.com/jamiemori/4d437587f82acb50a459

***NOTES***
- For step 2, use this bash script instead:
[code]
This will mount the volume /data in a host file in /va

[2016-01-05 03:55] slarson commented on #90
@jamiemori Hugely helpful!

[2016-01-05 04:06] slarson commented on #90
@jamiemori I've made some commentary over on gitter chat: https://gitter.im/openworm/sibernetic?at=568b412217eed9cd1bbbf75c

[2016-01-05 04:33] slarson opened #92 "Build error in owHelper.cpp on ubuntu"
See build log here: https://gist.github.com/slarson/468342225bf0d685a383

[2016-01-05 04:47] slarson commented on #89
Ok first cut on this is here: https://github.com/openworm/sibernetic/commit/966664f97f1e0aa3205456c591335e8b79c20ae1

[2016-01-05 04:56] slarson commented on #90
OK, with my latest startup script (https://github.com/openworm/sibernetic/commit/966664f97f1e0aa3205456c591335e8b79c20ae1) I think we can potentially reduce the run command to:

docker run -ti \
    --name sibernetic \
    -v /data \
    --entrypoint /sibernetic/bin/entrypoint.sh
    openworm/openworm_test

Right now the latest version isn't building (#92) but when that is addressed we can test ou

[2016-01-11 07:53] skhayrulin commented on #92
fix it on last commit

[2016-01-11 07:53] #92 closed

[2016-01-12 04:58] slarson opened #93 "Display trying to open even when -g_no is set?"
Trying to run sibernetic in 'headless' mode, so intentionally not setting the $DISPLAY variable to anything sensible.  Would have thought that the `-g_no` would have prevented failures on opening the display, but here's the message when I run `./Release/Sibernetic -f worm -g_no -l_to lpath=/data` :

[code]

[2016-01-12 05:00] slarson commented on #93
cc: @jamiemori

[2016-01-13 07:35] skhayrulin commented on #93
@slarson I found  problem in documentation actually you should use -no_g option for run sibernetic without graphics

[2016-01-13 09:19] #85 closed

[2016-01-16 23:01] 0wnrepo commented on #87
I still see this with the current code.
Sibernetic(37527,0x7fff76820300) malloc: *** error for object 0xc000000000000000: pointer being freed was not allocated
*** set a breakpoint in malloc_error_break to debug

[2016-01-18 06:43] skhayrulin commented on #87
@0wnrepo could you please give more info:
1) on which arch you run sibernetic
2) do you see memory leakage
3) how much iteration is sibernetic run before crashing?

[2016-01-18 08:56] skhayrulin commented on #88
@slarson in this [commit])(https://github.com/openworm/sibernetic/commit/de37b75b565cc2d50c56cb51a9171940b383c132) I've added option for indication of location OpenCL program file. When @a-palyanov model will be ready we generate several ocl files for each one.

[2016-02-17 04:30] slarson commented on #93
OK just tested and it works with the modified option

`./Release/Sibernetic -f worm -no_g -l_to lpath=/data`

Thanks!

[2016-02-17 04:30] #93 closed

[2016-02-17 04:54] slarson opened #95 "Update documentation to include command line parameter to change OpenCL file"
In the creation of #88, it looks like there has been an option implemented to change the OpenCL file.  This issue is to add that to the documentation so we know how to use it.

[2016-02-17 04:55] slarson commented on #88
Sounds like we've added the option, now we just need to add the documentation (#95) and then we can close this.

[2016-02-17 04:57] slarson commented on #90
Entry point script has just been updated -- need to test it out up on the Tutum environment.  This also requires implementing the data linkage container so that we can read out the data.

[2016-02-17 05:00] skhayrulin commented on #95
done see here [Main command options](https://github.com/openworm/sibernetic#main-command-options) option name is oclsourcepath you're just need the path to file with ocl program

[2016-02-17 05:55] slarson commented on #95
OK great.  In terms of examples, what files that are checked in can I use to test with?  I only see an sphFluid.cl in the src directory.  Are there others?

[2016-02-17 06:41] slarson commented on #90
First draft of such a stack file:

[code]

Next step -- test, log in to the data service, see if data volume is actually mapped and if results are being stored there.

[2016-02-17 10:21] skhayrulin commented on #95
Not yet @slarson but I'll add when merge Andrey code

[2016-02-20 23:19] slarson commented on #95
OK great-- those examples will help the docs (and me!) so that everyone
will be able to actually use the option.
ᐧ

On Wed, Feb 17, 2016 at 2:21 AM, Sergey <notifications@github.com> wrote:

[2016-02-21 17:39] skhayrulin opened #96 "crawling worm issue"
When run worm simulation in thin water worm doesn't crawl.
- [x] add configuration with friction floor
- [x] add ocl file with description of physic constant
- [x]  make option for signal simulation file

[2016-02-21 17:42] skhayrulin opened #97 "Make option settings file"
Add ability to run sibernetic with option file
format:

[code]

[2016-02-23 06:13] slarson commented on #90
OK, after several modifications to the stack file and the entrypoint script, it looks like we got the mapping to the data node to work!

[2016-02-23 19:31] jamiemori commented on #90
This is great! Was wondering what the progress was on this project. Is there anything I could help with? Cheers from New York

[2016-02-24 19:38] slarson commented on #90
@jamiemori yes!  Actually we could use your help in a different part of the project but still working with the docker image.  Check out [this chat](https://gitter.im/openworm/open-worm-analysis-toolbox?at=56ce066ff5ca6d9d7f972556) on gitter for that.  Cheers to you!

[2016-02-25 05:03] #96 closed

[2016-02-25 05:07] skhayrulin commented on #96
For run crawling worm you need run after rebuilding in the following way `./Release/Sibernetic -f worm_crawling oclsourcepath=src/sphFluid_crawling.cl`

[2016-02-25 10:58] skhayrulin commented on #95
@slarson I've updated [Run simulation from configuration file section](https://github.com/openworm/sibernetic#run-simulation-from-configuration-file) added information how to run sibernetic with crawling/swimming worm configuration.

[2016-03-17 09:56] #51 closed

[2016-03-18 13:58] slarson opened #98 "Enable command line parameter that exits Sibernetic after a defined number of iterations"
To implement #90 , it would be very helpful if Sibernetic itself would end after a determined number of iterations that could be specified on the command line.  This would enable a script to kick off a data transfer process upon completion.

[2016-03-18 14:32] slarson commented on #98
It already exists!

```timelimit=<value>     Run simulation until <value> will be reached in seconds.```

[2016-03-18 14:32] #98 closed

[2016-03-18 14:35] slarson opened #99 "Implement dropbox upload on the data node for cloud simulation runs"
https://github.com/andreafabrizi/Dropbox-Uploader

Let's get this set up to work on the data node on the cloud simulation runs on the openworm image.

[2016-03-31 22:25] slarson opened #100 "Implement simple steering of the worm model"
Eduardo Izquierdo is interested in adding steering into the model.  This would involve modifying the input function driving the muscles.

Can we have some discussion around exactly what changes to the code we would need to implement to do this?

@edizquie @a-palyanov @skhayrulin

[2016-04-01 08:19] a-palyanov commented on #100
Hi guys! Sure we can discuss this!
By the way, what kind of steering? Signals from simulated neurons or signals like those sinusoids in the code but more complex or something another?

[2016-04-04 16:02] slarson commented on #90
OK we've gotten this working (even though Tutum has now switched to Docker Cloud).  The most recent version of the stackfile has been updated above.

[2016-04-04 16:02] #90 closed

[2016-04-06 18:06] nmsutton opened #101 "Generate faster renders"
The objective is to be able to better observe animation in renders by making the renders play at a faster fps.  This idea was inspired by the [downsampling](https://en.wikipedia.org/wiki/Decimation_(signal_processing)) concept used by tools like [bokeh](http://bokeh.pydata.org/en/latest/) and [hdf5](http://www.h5py.org/) files.  I am interested in working on behavioral simulations and that could b

[2016-04-08 01:31] nmsutton opened #102 "More config file variable docs"
Documentation explaining what each variable represents in [configuration files](https://github.com/openworm/sibernetic#configuration-file-format) for developers.  For instance:
[code]
Also optional is a description of the minimum required data in such files to create objects in the scene.

[2016-04-08 08:58] skhayrulin commented on #101
Hi @nmsutton! Sorry for late answer. Now when we are simulating worm movement we're usually turn off graphics case simulation usually takes more that day for simulating one second. So for analysis we storing data into special text files which contains info of dynamics of particle system more info [here](https://github.com/openworm/sibernetic#saving-to-disk).  But actually we have a problem that if

[2016-04-09 02:30] nmsutton commented on #102
I have made some progress on the docs but certainly much more remains.  The current version is [online here](http://sibernetic-config-gen-docs.readthedocs.org/en/latest/Config_File_Sections/positions/).  The github repo is [availible here](https://github.com/nmsutton/sibernetic-config-gen-docs).  I would appreciate any contributions!

[2016-04-09 02:31] nmsutton commented on #101
No worries about the response, thanks so much for the excellent work on the project @skhayrulin!  I appreciate your explanations and I am pleased to hear you finding my approach reasonable.  I have begun work on it [in this project](https://github.com/nmsutton/mesh-downsampler).  I can do the downsampling but the challenge I am on now is how to fully reconstruct config files once I do.  That is re

[2016-04-15 17:53] slarson commented on #102
@nmsutton great start.  How would you feel about forking the https://github.com/openworm/sibernetic_config_gen repo directly, adding your docs in as a subdirectory, and doing a pull request back in?  Or at minimum, let's add some kind of pointer to your docs from that repo in the readme; just so people can start to find it :)  Thanks!

[2016-04-15 21:16] slarson commented on #89
This has been integrated into the entrypoint.sh script!

[2016-04-15 21:16] #89 closed

[2016-04-15 21:16] slarson commented on #88
For now, these are just going to be built into the .cl files; so we'll just use a switch to point at different .cl files as needed.

[2016-04-15 21:16] #88 closed

[2016-04-15 21:17] slarson commented on #95
This is done

[2016-04-15 21:17] #95 closed

[2016-04-15 21:17] slarson commented on #97
@skhayrulin did we do this or is this still something we want to do?

[2016-04-15 21:18] slarson commented on #99
We got it to work!  Now we probably need to make it easier to use, and to handle the multi-node case.

[2016-04-15 21:18] #99 closed

[2016-04-15 21:19] slarson commented on #47
@a-palyanov what ever happened with this? :)

[2016-04-15 21:19] slarson commented on #86
@skhayrulin what kind of update was this about?

[2016-04-15 21:20] slarson commented on #82
I believe this is done, no?  Re-open if not.

[2016-04-15 21:20] #82 closed

[2016-04-15 21:20] slarson commented on #40
We haven't done this yet, but we do have a docker image that runs Sibernetic: hub.docker.com/r/openworm/openworm_test/

[2016-04-15 22:01] nmsutton commented on #102
@Slarson thanks for your outstanding work on this project!  I have now forked and submitted a pull, I appreciate your interest in me doing that.

[2016-04-16 02:33] a-palyanov commented on #47
@slarson Here is a list of devices which support OpenCL 2.0:
https://www.khronos.org/conformance/adopters/conformant-products#opencl

Our R290X in in the list, but it requires (as well as all other devices) Windows 8.1 64 bit.

[2016-04-16 05:00] skhayrulin commented on #97
@slarson actually I think it will be useful in future I mean that number of input arguments is always increasing and this is boring to print it all the time. Now this in progress but I think to move that in other milestone

[2016-04-16 05:10] skhayrulin opened #103 "Update sibernetic site"
- [ ] add link on new video in youtube
- [ ] update information
- [ ]  addition link

[2016-04-16 05:10] skhayrulin commented on #86
@slarson I think I should close this it was a long time ago I'm sure that everything is fine now but we have to update sibernetic site #103

[2016-04-16 05:10] #86 closed

[2016-04-26 18:02] nmsutton commented on #101
I have been progressing in this effort and my software produces for example this config file: [tinyurl.com/demo2i-comb](tinyurl.com/demo2i-comb) to recreate demo2.  @skhayrulin I generate elastic connections by inputting position+velocity particles through sibernetic_config_gen , how can I make non-moving barrier planes for the cubes (my planes fall down) such as in demo2?  It appears through elas

[2016-04-27 05:23] skhayrulin commented on #101
hi @nmsutton actually this configuration (I mean demo2) wasn't generate by sibernetic_gen_config it was done by me by custom code and I explicitly marked connections between elastic and boundary particles.

[2016-04-29 00:18] nmsutton commented on #101
Ok, thanks @skhayrulin for the further clarification!  Thinking about the whole worm and creating connections, if I write code that goes through my ~reduced~ particle worm version and specifically defines by coordinate region and particle type an adjusted neighborhood value for creating connections and uses code based on sibernetic_config_gen's methods of connection creation, does there happen to

[2016-04-29 05:37] skhayrulin commented on #101
in Sibernetic we're implemented [PCI SPH](https://graphics.ethz.ch/~sobarbar/papers/Sol09/Sol09.pdf) algorithm which is simulating in-compressible liquid so it's really important to run start configuration from state when density of modeling liquid is equal to steady-state value namely 1000 kg/m^3. So sibernetic_config_gen takes it into account when generating configuration. Main problem of sibern

[2016-05-01 00:22] nmsutton commented on #101
Thanks @skhayrulin for the good quality explanations and sharing the article!  This has helped my understanding of the work a lot!

[2016-05-17 02:52] nmsutton commented on #101
Prototype version 1.0 of a downsampled worm is available.  Config file: [tinyurl.com/prtdwnwrm](http://www.tinyurl.com/prtdwnwrm) .  There are known issues but it runs at a smooth 60 fps on my gtx 680 4gb vid ram.  It was created through modeling it in blender and adding a lot of collada import functionality into sibernetic_config_gen.  Blender: [lcm6YbZ.jpg](http://i.imgur.com/lcm6YbZ.jpg) Siber:

[2016-06-07 15:20] slarson opened #105 "Create OpenCL-enabled Docker Node AMI & successfully run Sibernetic in a container on top of it"
@skhayrulin and I experimented with running CPU-based sibernetic on Docker via AWS -- the result was a six day run for 1000 steps.  While it was helpful to run more than one simulation at a time (we ran five in parallel) it was overall still too slow.

What was good from this experiment was that @skhayrulin was able to specify the parameters to run in a short text file (like the one defined [here]

[2016-07-01 09:26] skhayrulin opened #106 "Work with Sibernetic-NEURON sync"

[2016-07-01 09:40] skhayrulin opened #107 "Write Doc how to run Siberneti with neuron"

[2016-08-09 08:48] skhayrulin commented on #101
Hi @nmsutton great work! Sorry for late answer

Initially liquid leaks from the worm but stops leaking later. Why, is it too much liquid in the worm initially?

It could be connected with difference in calculation between CPU and GPU, as far as I remember I had similar problem when run the same configuration on GPU. As I remember that main problem is that  membrane isn't detecting  that liquid par

[2016-08-10 18:54] nmsutton commented on #101
@skhayrulin Thanks, glad you like it!  No worries about the response timing.  Thanks very much for the helpful answers and your valuable Sibernetic-NEURON work which I look forward to checking out, I only need to look in the  Sibernetic-NEURON github repo?  In response to your question about if an example configuration file has been committed, that is available at tinyurl.com/prtdwnwrm as a part o

[2016-08-11 08:16] skhayrulin commented on #101
Yes, actually I haven't written documentation how to run this with sibernetic but I'll do it soon. I'll let you know

Yes sure.

[2016-08-12 19:10] nmsutton commented on #101
@skhayrulin  Thanks for the assistance and really glad to see the Sibernetic-NEURON further work in particular!  Also, sorry I didn’t read your response closer, to help show the floating example I additionally uploaded the [floating worm config here](http://www.tinyurl.com/wormfloat) and [matching blender files here](http://www.tinyurl.com/blenderwrmflt) .  The [tinyurl.com/prtdwnwrm](http://www.t

[2016-10-02 00:03] nmsutton opened #108 "Calibrate sibernetic worm movements to signals from neural data"
With [Sibernetic_NEURON](https://github.com/openworm/sibernetic_NEURON) by @skhayrulin et. al. now enabling direct neural signal input into Sibernetic’s worm model movement there needs to be a translation of the neural signals into values that create appropriately scaled movement actions on the worm.  The [muscle_model](https://github.com/openworm/muscle_model) project by @pgleeson, @vellamike et.

[2016-10-03 17:10] cheelee opened #109 "Bug with .openworm.yml"
@slarson There is a bug with the current .openworm.yml ... it lists the repo as "PyOpenWorm" instead of "sibernetic"

[2016-11-03 16:10] slarson opened #112 "Implement three parallel methods for injecting activity into muscle cells"
@pgleeson aims to submit a pull request with code works in parallel with the sine wave injected into the muscles, c302 activity injected into the muscles, and the sibernetic_NEURON bridge injecting activity into the muscles and an updated README that explains how you can run each of the three options with a straightforward argument change.

[2016-11-03 16:12] slarson opened #113 "Difficulty running with both -nrn and -f worm"
[code]

Not currently working (doesn’t run NEURON in the background)

[code]

Without -f worm, it launches neuron in the background but only runs the falling cube example

cc: @pgleeson

[2016-11-03 16:46] pgleeson commented on #113
This might just consist of updating the section in the README for more complete instructions for getting it running. A start on this is here:

=============================================================
Now it's possible to run the physical and neuronal simulations together. For this you need [sibernetic_NEURON](https://github.com/openworm/sibernetic_NEURON) also.  Don't forget to add the path t

[2016-11-08 18:24] nmsutton commented on #108
Further progress has been made on calibrating the neural signals to worm movement in Sibernetic.  Using psuedo neural signaling values flipping muscle movements a crawling motion is achieved. The movements are based on the [earlier described formula](https://github.com/nmsutton/sibernetic/blob/development/src/owSignalCalibrator.py) and in a pattern as seen in [video](https://www.youtube.com/watch?

[2016-11-09 10:35] skhayrulin commented on #113
@slarson @pgleeson I've finally found problem of incorrect  work - main reason was that if we run worm configuration then it run old sinusoidal pattern generator so I've fixed it now and if you've indicated that you're trying to run worm config with -nrn key it will start neuron simulation and sibernetic simultaneously. Next step is to eliminate hardcoded muscle section from simulation and make it

[2016-11-09 11:09] pgleeson commented on #113
Great @skhayrulin! Have managed to get the worm model & Neuron running locally.

I'd recommend having the default behaviour still be that the worm runs with the Python based sine wave generator if no other options are given. This way users can see interesting behaviour with just Sibernetic installed before they need to use Neuron, c302, etc.

[2016-11-09 11:09] #113 closed

[2016-11-11 04:00] skhayrulin opened #114 "Make code review"

[2016-11-23 15:46] pgleeson commented on #109
Fixed now with https://github.com/openworm/sibernetic/commit/23a7bf498291ea641ad1ae8d46cc97be2af4a937

[2016-11-23 15:46] #109 closed

[2016-11-30 20:43] lungd opened #116 "Run with c302 - "Generating images for neuronal activity" error"
I can run sibernetic with NEURON bridge.
Running with c302 "python sibernetic_c302.py" gives me following error:

Sib_c302  >>>
Sib_c302  >>> ************************************************************************
Sib_c302  >>> *
Sib_c302  >>> *  Generating images for neuronal activity...
Sib_c302  >>> *
Sib_c302  >>> ************************************************************************
Traceb

[2016-12-01 08:03] skhayrulin commented on #116
@pgleeson I've just clone CElegansNeuroML but I can't find sibernetic_c302.py am I right that this file should be in CElegansNeuroML/CElegans/pythonScripts/c302 folder?

[2016-12-01 08:35] lungd commented on #116
@skhayrulin, @pgleeson  I had cloned sibernetic_NEURON and CElegansNeuroML outside sibernetic with absolute paths in PYTHONPATH.
Whether with the projects inside or outside sibernetic, I get the same error.

[2016-12-01 09:23] lungd commented on #116
@skhayrulin, sibernetic_c302.py is inside sibernetic/

[2016-12-01 09:24] skhayrulin commented on #116
@lungd thanks!

[2016-12-01 11:19] lungd commented on #116
The generated LEMS_c302_nrn.py file should get executed inside sibernetic_c302.py?
I've added:
[code]
below main_nrn_py.close().

That gave me an "integer division or modulo by zero" error (sibernetic_c302.py:189)
I think the duration var inside the DEFAULTS dict should be in msec so I've changed it from 1.0 to 1000. Now it is still running

[2016-12-01 16:52] pgleeson commented on #116
No @lungd the LEMS_c302_nrn.py is initialised and run from inside Sibernetic using calls to the Python class in the same way as the sine generator was used.

Can you run:

     python sibernetic_c302.py -duration 0.1 > report

on the unaltered code and send me/pastebin the full log?

[2016-12-01 17:39] lungd commented on #116
root@9793801e23f3:/home/developer/openworm/sibernetic# python sibernetic_c302.py -duration 0.1 > report
Traceback (most recent call last):
  File "sibernetic_c302.py", line 253, in <module>
    main()
  File "sibernetic_c302.py", line 70, in main
    run(a=args)
  File "sibernetic_c302.py", line 227, in run
    verbose=True)
  File "/usr/local/lib/python2.7/dist-packages/pyNeuroML-0.2.2-py2.7.egg/

[2016-12-06 11:06] pgleeson commented on #116
@lungd It looks like c302 is properly installed and getting generated correctly. The issue is that the generated Nrn code isn't being used by Sibernetic inside the simulation. Have you run

    make clean
    make

after you pulled the latest changes from Sibernetic?

[2016-12-06 11:47] lungd commented on #116
I forgot to rebuild sibernetic. Thank you for the hint @pgleeson.
Now I get
[code]
Full log: https://paste.ee/p/ufWhq

[2016-12-06 11:57] pgleeson commented on #116
That's just an error plotting the body shape at the end and may be to do with running the simulation too short a time. Try removing  -duration 0.1

[2016-12-06 12:01] lungd commented on #116
I get the same error without -duration

[2016-12-06 12:29] lungd commented on #116
Calling sibernetic_c302 without arguments leads to a duration of 1.0 ?
sibernetic_c302 calls plot_positions using rate_to_plot=int(duration / 5). int(1.0/5) = 0
https://github.com/openworm/sibernetic/blob/development/sibernetic_c302.py#L245

Inside plot_positions there is a modulo "frame % rate_to_plot". 0%0 -> ZeroDivisionError
https://github.com/openworm/sibernetic/blob/development/src/plot_posi

[2016-12-06 13:14] pgleeson commented on #116
You could just manually change rate_to_plot to 10 or 20 or take out that line altogether. It was a last minute change to scale the number of worm images in the figure by the duration...

Note the other files generated by the simulation should have been successfully saved in a folder under simulations/

[2016-12-06 13:28] lungd commented on #116
Ty again @pgleeson
I close this issue now because the ZeroDivisionError is not related to the generation of images.

[2016-12-06 13:28] #116 closed

[2016-12-12 16:06] pgleeson commented on #116
Ok @lungd, so I assume you got it all running then.

Did you by any chance try it with your tap withdrawal circuit?

[2017-02-14 14:14] slarson opened #117 "Flag that enables the producing of a time series speed chart from Sibernetic"
Defined here:

https://github.com/openworm/OpenWorm/issues/229#issuecomment-279473044

Let us know what the command will be.

cc: @pgleeson

[2017-02-14 14:15] slarson opened #118 "Create simplified scene for Sibernetic that runs faster"
Should run 10x faster.

cc: @lungd @raminmh

[2017-02-24 16:46] slarson opened #119 "Commandline option to output line chart related to the movement of the worm"
@a-palyanov created an example output [here](https://drive.google.com/file/d/0B35aIDz5plcmNW9VWFhNVnI2cTA/view).  @skhayrulin, could we have Sibernetic generate this kind of file if a flag is given during the run?

@a-palyanov has the code written but hasn't tested it on linux.

[2017-02-27 04:58] skhayrulin commented on #119
@slarson @a-palyanov am I right that file contains information about center of mass displacement? Actually I think how to do this more generic way not appropriate only for worm configuration but for other too.

[2017-02-27 09:33] tarelli commented on #119
Hey Sergey, would the JSON you are already producing be a good option to add this to?

[2017-02-27 09:55] a-palyanov commented on #119
@skhayrulin The file contains information about 3D coordinates of points representing worm body midline (from head to tail). Each line of the file corresponds to the time moment at which these coordinates were written to the file.
File format:
time1 x1 ... xN y1 ... yN z1 .. zN
......
timeM x1 ... xN y1 ... yN z1 .. zN

Coordinates of center of mass can be obtained from these data by averaging eac

[2017-02-28 07:25] skhayrulin commented on #119
@a-palyanov OK got it. @a-palyanov as I understood you already have code which produce this data could you push this into repo or send me. @tarelli do you mean to add this data into JSON file too?

[2017-02-28 10:03] tarelli commented on #119
@skhayrulin yes

[2017-03-01 06:37] cheelee commented on #119
@a-palyanov @skhayrulin @tarelli Hey guys, if it is convenient I'd like a copy of the code (or the JSON output) to try out as well. I will need to work with Rex to 1. project the 3-D data into 2-D space for comparison against WCON versions (if they exist) of Rex's tap-withdrawal movement data.

[2017-03-02 02:43] a-palyanov commented on #118
Worm body is composed of about 20 000 particles (13381 elastic particles + 7052 inner liquid particles), whereas for swimming/crawling it is  necessary simulate about 300 000 ... 500 000 particles of the environment as well.
On my PC (Intel Core i5-2500K + Radeon R290X GPU) the following computational performance is obtained:
1) worm + liquid (13381 elastic particles + 491127 liquid particles), vi

[2017-03-02 03:01] a-palyanov commented on #118
Even better result is expected when visualization is completely switched off during simulation (just use for Sibernetic command line parameter "-no_g").
Simplified scene configuration file which contains only worm body and simulation box is available here:
https://github.com/openworm/sibernetic/tree/development/configuration/worm_no_water
(old variant)
https://github.com/openworm/sibernetic/tree/d

[2017-03-02 03:35] cheelee commented on #118
I know from molecular dynamics simulations they are able to use implicit solvent models to simplify and speed up computation. Can similar implicit (uniform) environment models be deployed for some of the constrained physical simulations Sibernetic uses?

[2017-04-10 14:01] pgleeson commented on #118
@a-palyanov I've tried the worm_no_water configuration here and it works fine. Short (10ms) simulations with sibernetic & c302 have gone from 214 sec to 68 seconds (also with a bit of a speedup from specifying device=gpu).

Options for changing the device & configuration (worm_deep_water should work too) have been added to [sibernetic_c302.py](https://github.com/pgleeson/sibernetic/blob/developmen

[2017-04-10 18:14] gidili commented on #119
@a-palyanov @skhayrulin @MichaelCurrie discussed this today, I went to create an issue and then realized we had this, should we re-purpose this card or create a new one for Siberntic to output a text file with counter data (the famous 49 points per 'frame' not sure what frame means in the case of Sibernetic though)?

[2017-04-11 09:19] pgleeson commented on #119
As discussed with @a-palyanov @MichaelCurrie @cheelee and @gidili, the general idea would be first to get the code @a-palyanov has written for the simple txt output of the midline into the Sibernetic development branch and have this export enabled by a Sibernetic command line output.

Some metadata from Sibernetic (version of Sibernetic, time step/duration, user, configuration (worm/worm_no_water)

[2017-08-19 21:26] nmsutton commented on #118
@slarson , @a-palyanov , @cheelee , Something relevant to this effort (in case anyone wasn’t aware of the work) is that I created code and subsequently a pull request for a way to generate simpler scenes using sibernetic’s scene creator: [pull request link](github.com/openworm/sibernetic_config_gen/pull/5).  In the sample scene I included in the pull request on my pc it accelerates rendering from

[2017-08-21 23:22] slarson commented on #118
@nmsutton This looks great.  Have you joined us on Slack yet?  If not, you can find the invite after filling out the form [here](https://docs.google.com/spreadsheet/viewform?usp=drive_web&formkey=dC1CUDQtTV82MEJJcjY0NjdCcHpYdmc6MQ#gid=0)

It would be great to discuss further over there.

@a-palyanov what do you think about this progress by @nmsutton ?

[2017-08-22 01:51] nmsutton commented on #118
@slarson Thanks for the compliment! I have now joined the slack group, where should I go to discuss things in there?

[2017-08-22 13:35] a-palyanov commented on #118
About movement video: actually looks not very similar to crawling :)
And probably there is a problem with springs stiffness value.
My initial worm body model, in which worm body was represented by round 200 layers in head-to-tail direction was almost perfect in smooth realistic swimming and crawling simulation, but it was too slow (about 2-3 fps).
Next one, with half resolution (100 layers instead

[2017-08-22 23:40] nmsutton commented on #118
@a-palyanov, thank you for the feedback. The crawling-type movement in the video is simplified (lacking some realism) for one reason that it was a basic test of accessing the muscle verticies. As seen the whole muscle groups (left or right side) are moved up and down the same, it was only meant to be a  basic movement test but programming more detail into the movement can add realism. I will respo

[2017-08-30 17:06] slarson commented on #119
Still important!  Pinging this here.

[2017-10-06 14:52] slarson commented on #119
@skhayrulin has this been integrated into the current Sibernetic code base?  If so, do you know where it is?  Most important is getting this to come out as text.

[2017-10-07 21:38] ranr01 opened #122 "pySibernetic: A Python wrapper for Sibernetic"
Hi,

Thanks for all the hard work!

I've created a [Python wrapper](https://github.com/ranr01/pySibernetic) for the core simulation features of Sibernetic. If you find it interesting and/or useful in anyway please feel free to link to it or combine it with Sibernetic. I'll be happy to help if you have any questions or comments.

Cheers,
Ran

[2017-10-10 05:03] skhayrulin commented on #119
@slarson actually no but if it's really important I can do it asap doesn't look like to hard to implement it

[2017-10-10 06:25] pgleeson commented on #119
Great @skhayrulin. As mentioned, code for much of this already exists on a fork of @a-palyanov's.

[2017-10-10 11:56] a-palyanov commented on #119
I hope I'll upload my new version of Sibernetic (with the simple txt output of the midline and some other new features) today or tomorrow, right now I'm finalizing it.

[2017-10-18 13:36] slarson opened #124 "Tests not working on latest commit"
From @pgleeson:

Running tests with "./Release/Sibernetic -test" used to pass, now fails, complaining of "Couldn't create file check the file name: ./logs/total_energy_distrib.txt". I create the logs directory, but still it has a segmentation fault

[2017-10-18 13:40] slarson opened #125 "Worm_motion_log contains only zeros"
From @pgleeson :

Running the worm model with "./Release/Sibernetic -f worm  -l_to" saves a file to buffers/worm_motion_log.txt, which I assume will contain the midline positions, but It only contains zeros. It seems the worm_alone_half_resolution configuration does have the correct behaviour.

![selection_384](https://user-images.githubusercontent.com/1037756/31721773-4c145c9a-b3e8-11e7-8c55-4e5a

[2017-10-18 13:41] slarson opened #126 "Liquid particles streaming out of standard cube"
From @pgleeson :

There seems to be an issue related to liquid pressure with the standard/cube example, liquid particles are streaming out of it:

![selection_383](https://user-images.githubusercontent.com/1037756/31721823-6d038a20-b3e8-11e7-8e36-d48f1b35255c.png)

[2017-10-19 01:29] a-palyanov commented on #126
This is due to too small value of liquid viscosity coefficient. I'll fix it soon.

[2017-10-19 03:02] a-palyanov commented on #125
Hmm, works perfectly on my system (Windows), I've checked for worm_alone_half_resolution, worm_crawl_half_resolution and worm_swim_half_resolution. @pgleeson, are you running on Linux or Mac?

[2017-10-19 03:40] a-palyanov commented on #124
Thanks for pointing at this. Not a big problem, I'll fix it soon (it was not because of my update, I didn't touched anything connected with tests).

[2017-10-19 13:40] a-palyanov opened #127 "Worm body modelling and mechanics - parameters, values etc."
One statement about worm body is the following:
"The stiffness of the body is due to both high elastic modulus of its cuticle (the Young Modulus, E = 10–400 MPa, is comparable to rubber)"
(source: https://scholar.harvard.edu/files/aravisamuel/files/zhen_curr_opin_neurobiol_2015.pdf)

Another one contains significanlty different values:
"Despite the high stiffness measurements reported for the worm

[2017-10-19 14:33] pgleeson opened #128 "Enhance configuration files with physical parameters specific to full/half worm"
Currently there are a number of physical properties within the Sibernetic code which are tuned for the full  or half resolution (development branch is set for half resolution...) versions of the model.

It would be better if these could be set when loading in the configuration files (e.g. [full res](https://github.com/openworm/sibernetic/blob/development/configuration/worm), [half res](https://git

[2017-10-19 15:10] pgleeson commented on #125
As discussed, only occurs for full scale worm. Title updated.

[2017-10-19 20:24] pgleeson opened #129 "Muscle activation should be set only by the Python class"
There is currently some hard coding of the activation signals at https://github.com/openworm/sibernetic/blob/development/src/owPhysicsFluidSimulator.cpp#L417.

The muscle signals coming in should be only set by the python class supplied to drive the muscles, either [MuscleSimulation](https://github.com/openworm/sibernetic/blob/development/main_sim.py#L93) or C302NRNSimulation.

See commit below fo

[2017-10-19 20:50] pgleeson commented on #129
FYI @a-palyanov I've added the "smooth start" to the MuscleSimulation Python class here:
https://github.com/pgleeson/sibernetic/commit/e7e17489485f056c53418bd6ae8cf4ddaaf5c3c6#diff-1ae43b765dbe328a71a4d401b9f30771R79

Can be plotted with: python main_sim.py

![selection_390](https://user-images.githubusercontent.com/1556687/31793544-6f1a10ba-b517-11e7-9167-0594b2a294ef.png)

[2017-10-20 11:25] a-palyanov commented on #128
Doing this will not be a piece of cake because of the following:
At present most of physical parameters are constants, and adding possibility of initialization of their values from file will require noticeable changes in the source code. Simply changing constants to non-constants causes an avalanche of errors. It will be necessary to move all of them from owPhysicsConstants.h into owConfigProperty

[2017-10-21 06:23] a-palyanov commented on #128
Also I suppose that it will be nice to add to this config the possibility to define colors of the main elements of the scene - background, liquid, elastic matter, worm body, elastic matter particles which contacted worm body (which show worm's trace on agar), maybe something else.

[2017-10-21 06:47] a-palyanov commented on #129
Yes, there is actually some hard coding to achieve more realistic shapes of the body while swimming and crawling. There are two transformation of the signal: 1) sin(...)+1 --> (sin(...)+1)^2 to reduce the number of worm body segments at which both left and right muscles contract simultaneously, causing body shortening, and 2) attenuation of the signal for the muscles which are close to the tail (t

[2017-10-21 12:44] KameyHameyHa opened #130 "Error: narrowing conversion while running 'make all' command"
error: narrowing conversion of ‘16909060’ from ‘int’ to ‘char’ inside { } [-Wnarrowing]
  } bint = {0x01020304};

This occured while running 'make all' command after cloning the repository.

[2017-10-21 19:48] dhd5076 opened #131 "Instructions for building on linux are incorrect"
The instructions for building the application on Linux are incorrect. The README.md states that if you are in the top directory of the project you should navigate to the /Release folder to execute the` make `command. The instruction should state that the `make` commands  #should be executed in the top level of the project where the makefile is.

[2017-10-22 04:42] skhayrulin commented on #130
Hi @KameyHameyHa from what brunch did you clone sibernetic? And could you please tell me you're machine configuration?

[2017-10-22 18:23] #131 closed

[2017-10-23 06:15] a-palyanov commented on #128
Current version of worm_alone_half_resolution scene configuration file starts with the following data block:
0
100.2
0
50.1
0
267.2
[position]
51.1166	5.21027	13.3002	2.105
49.0494	5.20471	13.307	2.105
50.0918	6.23142	13.3	2.105
.....
To include (bio)physical parameters into the same file with scene configuration (to avoid situations of running a scene with one resolution and physical parameters -

[2017-10-23 06:39] a-palyanov commented on #124
Fixed in the recent update (of development branch).

[2017-10-23 06:39] #124 closed

[2017-10-23 06:39] a-palyanov commented on #129
Fixed in the recent update (of development branch).

[2017-10-31 06:52] a-palyanov commented on #127
The new version of Sibernetic is available on github (development branch). A set of parameters is tuned to provide more adequate properties of worm body and its movement (swimming, crawling) for half-resolution models. Here is a video of how it should looks now:
https://www.youtube.com/watch?v=IUMI7XQpNBk
And here, for comparison, is a video of a real C. elegans swimming:
https://www.youtube.com/w

[2017-11-03 12:52] pgleeson commented on #112
This is implemented in the current development branch

[2017-11-03 12:52] #112 closed

[2017-11-03 13:11] pgleeson commented on #129
@a-palyanov Can you confirm that it was intended to change the behaviour of the sine wave input to swimming -> crawling?

![selection_429](https://user-images.githubusercontent.com/1556687/32374927-a1a2951c-c097-11e7-85f9-170fd2601ca1.png)

This is fine if you're mainly testing/tuning swimming behaviour at the moment, but when the worm_alone is run, it quickly bends to a C shape.

It should be qui

[2017-11-06 05:29] a-palyanov commented on #129
@pgleeson Both swimming and crawling look more natural when I use not a pure sin signal, but rather a  (sin(...)+1)^2. Additionally, different environments require different maximal muscle contraction force, and the real C. elegans is able to adjust it if necessary. Worm_alone for sure requires noticeably lower maximal muscle contraction force, so when it is used with muscle activating signals for

[2017-11-10 15:50] #118 closed

[2017-12-06 09:32] skhayrulin opened #134 "Save simulation in hdf5 files"
Hdf5 library for C++ [here](https://support.hdfgroup.org/HDF5/doc/cpplus_RM/)
 - [ ] Save simulation recording in hdf5
 - [ ] Read recording from hdf5 file

[2017-12-11 07:58] a-palyanov commented on #127
Hey guys, I've got some increadible news for those who work with Sibernetic.
As you probably remember, when I switched from full-resolution model to half-resolution model of the worm body, I've changed the mass and size (smoothing radius) of the particles, but preserved integration time step the same (I've missed to adjust its value). The length of half-resolution worm was 0.8 mm. Recently I've fo

[2017-12-13 07:10] a-palyanov commented on #127
I've decided to investigate the dependence of simulation quality on integration time step and used the [swimming scene](https://www.youtube.com/watch?v=IUMI7XQpNBk) for this. Here are the initial and final positions of the worm:
![swimming_start_end](https://user-images.githubusercontent.com/1803774/33926021-209f34d8-e00f-11e7-9246-948b604d1585.png)

[2017-12-13 07:18] a-palyanov commented on #127
Note that it swims by itself, without any additional conditions, in the mid-water, not at the bottom and not partially floating over the surface of the liquid (densities of the liquid and worm are equal). Here are the traces of the worm tail (as on some previous pictures in this thread) - a set of curves which were obtained from simulations, which differ from each other only in the value of dt (in

[2017-12-13 07:30] a-palyanov commented on #127
And here are the curves for the same set of dt values, which display the dependence of how the worm's center of mass changes with the time during the same process of swimming:
![swimming_cm_trace](https://user-images.githubusercontent.com/1803774/33926691-b4c3237a-e011-11e7-8c76-9537cda16ef0.png)
I'll be glad to discuss the problem of the choice of the optimal dt value.

[2017-12-13 07:41] a-palyanov commented on #127
Swimmin velocity also depends on dt:
![swimmi_velocity vs dt](https://user-images.githubusercontent.com/1803774/33927152-b7acb7f2-e013-11e7-95ed-423005b143d7.png)

[2017-12-13 07:51] a-palyanov commented on #127
If you have any suggestions about additinal calculations which will make the question about the good choice of dt more clear, feel free to inform me.

[2017-12-13 08:42] VahidGh commented on #127
@a-palyanov: I have a question -- Do we consider the weight of the worm in
our simulations?
Maybe it is slower when it is heavier?!

On Wed, Dec 13, 2017 at 11:21 AM, a-palyanov <notifications@github.com>
wrote:

[2017-12-13 08:59] a-palyanov commented on #127
Sure we consider the weight, and it is quite close to the weight of a real C. elegans.
But these 5 runs differ only in dt, weight remains exactly the same.

[2017-12-13 09:12] VahidGh commented on #127
Actually, I mean it's exact weight when it's movement has been recorded (a
fed worm vs non-fed).

On Wed, Dec 13, 2017 at 12:29 PM, a-palyanov <notifications@github.com>
wrote:

[2017-12-13 09:59] VahidGh commented on #127
Also, I was reading in some paper that there is a relationship between
motor neurons participating in pharynx circuit and the movenet (body wall
muscles).
I have to mine a little more to find out the paper.

On Wed, Dec 13, 2017 at 12:42 PM, Vahid Ghayoomie <vahidghayoomi@gmail.com>
wrote:

[2017-12-19 14:42] slarson opened #135 "Steps towards Multi-GPU support / significant performance improvement"
Aiming at best case 12x speedup for 8 GPU cluster

- [ ] Run [GPUSPH](http://www.gpusph.org/documentation/install-guide/) on target hardware and find out what is the performance of this software in comparison with Sibernetic -- compare running of 100K particles
- [ ] Devise a strategy to take the key components that enable the multi-GPU support in GPUSPH.
  - [ ] CUDA based?
  - [ ] OpenCL based?

[2017-12-27 15:53] slarson commented on #135
Initial investigations into modifying scale and timestep seem to be demonstrating it is possible to improve performance significantly.  Next step on this is to adjust viscosity, elasticity, and surface tension to enable a scaled up worm to retain low-Reynolds number behavior.  We are noting that we also need to keep an eye on integration error as we do this.

On the GPUSPH side, initial results we

[2018-01-04 07:12] jhurlbut opened #136 "CL_OUT_OF_RESOURCES error on Nvidia GTX 1060 copying position buffer from device"
I am able to run the simulation on the CPU and Intel HD GPU but when running on my Nvidia GPU on the same machine I get a CL_OUT_OF_RESOURCES error when the code tries to copy the position buffer from device. This is on Windows 10.

[2018-01-04 09:26] lungd commented on #136
@jhurlbut I didn't run Sibernetic on a Windows machine yet. With Ubuntu, I think I got the same error after nvidia released and shipped CUDA 9 with the graphics driver package. After downgrading to an older version (375.82) it worked again.

@a-palyanov @skhayrulin Any comments?

[2018-01-04 18:36] skhayrulin commented on #136
@lungd you can install clinfo utility (sudo apt-get install clinfo), than after installation newest driver (with which you have a problem) you can run it and it will show you all available OpenCL devices if your NVIDIA card there than the problem is on sibernetic side if it's not than something wrong with new NVIDIA driver, also could you please give information about this driver?

[2018-01-04 19:17] lungd commented on #136
@skhayrulin
[clinfo_out](https://pastebin.com/2zA9KJYa)
[sibernetic_out](https://pastebin.com/NZTvu9ZS)
nvidia-driver version: 387.12
I got the same error with another machine (other GPU, driver version) so I think this issue can be fixed by changing the kernel?
Or maybe the OpenCL version has to be >= 2.0 with CUDA >= 9.0 ?

@jhurlbut Do you get the same error?

[2018-01-04 23:41] jhurlbut commented on #136
I tried installing Cuda 7.5 next to the Cuda v9 already installed. The nvidia driver version is 385.54. Yes I get that same error "ERROR: Could not enqueue read data from buffer  error code is error code is -5" which after looking up online is the CUDA error CL_OUT_OF_RESOURCES which I understand is usually an issue of trying to read a buffer of a larger size than was written into the buffer. Is t

[2018-01-05 19:55] lungd commented on #136
@jhurlbut with 375.82 I get the following output:
[code]
So if you can see CUDA 8 it should work.
If you can see your GPU after 'CL_DEVICE_NAME [0]', you don't need to check the devices with clinfo or with an alternative tool for Windows.

BTW, I didn't install the cuda toolkit only the nvidia driver.

[2018-01-09 15:43] slarson commented on #135
@skhayrulin has finished with an abstract algorithm for distribution for particles across 2 devices but still needs to test across more devices.

@a-palyanov Is continuing to experiment with combinations of physical parameters that allow the time step to be increased and maintain physical consistency.  He has achieved 1 second of simulation time for 20 minutes of compute time (!!).  We are working

[2018-01-16 03:38] ZZcat opened #139 "ImportError: No module named main_sim"
Someones-Mac:sibernetic-development stea$ ./Release/Sibernetic -f worm
[debug] pName = "main_sim"
[debug] PyPath = "/usr/local/lib/python2.7/site-packages:./sibernetic_NEURON:./src:./src:./src:/Library/Frameworks/Python.framework/Versions/2.7/lib/python27.zip:/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7:/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/plat-darwin:

[2018-01-16 09:00] lungd commented on #139
@ZZcat thank you for reporting this issue.
Some files like main_sim.py are now located in the root directory so you have to add that directory to PYTHONPATH instead of 'src/'
You should be able to run Sibernetic after running `export PYTHONPATH=$PYTHONPATH:.`
I already updated the README accordingly.

[2018-02-02 15:47] pgleeson opened #141 "Steps towards proprioceptive feedback"
**Summary**
Sibernetic calculates the ratio between the intantaneous muscle lengths and their lengths at rest, and feeds these through the python interface at each timestep. The python class itself decides what to do with the values, handing it to neurons, stretch receptors etc.

**Steps required**
- [ ] Sibernetic adds a command line option **-zeroGinitTime** where it turns gravity off, and lets

[2018-02-09 15:41] slarson commented on #135
We are still having a look at https://github.com/DualSPHysics/DualSPHysics to see if they will implement Multi GPU support.

[2018-02-09 15:54] VahidGh commented on #135
I have access to 2 pcs with 2 different graphic cards. One Ati and one
Gforce.
I'm not sure if it is possible to merge both of them using CUDA, but I can
try it.

On Feb 9, 2018 7:11 PM, "Stephen Larson" <notifications@github.com> wrote:

[2018-02-11 23:03] #41 closed

[2018-02-11 23:04] #47 closed

[2018-02-11 23:04] #52 closed

[2018-02-11 23:10] slarson commented on #135
@skhayrulin Any luck building DualSPHysics?

[2018-02-11 23:10] slarson commented on #73
Superceded by #135

[2018-02-11 23:10] #73 closed

[2018-02-11 23:11] #105 closed

[2018-02-11 23:12] slarson commented on #134
Saving to WCON accomplishes this now, I believe.

[2018-02-11 23:12] #134 closed

[2018-02-11 23:15] slarson commented on #122
Thank you for the contribution @ranr01 -- I realize this is a rather late response!  I think this didn't pop up clearly enough on our radars.

@pgleeson @a-palyanov @skhayrulin @tarelli Is this useful to you guys for some of the work you are doing?

[2018-02-11 23:16] slarson commented on #129
I think this got incorporated; re-open if not...

[2018-02-11 23:16] #129 closed

[2018-02-11 23:16] #114 closed

[2018-02-11 23:17] #103 closed

[2018-02-11 23:17] #49 closed

[2018-02-12 00:07] #40 closed

[2018-02-12 00:07] #42 closed

[2018-02-12 00:07] #97 closed

[2018-02-12 00:09] #139 closed

[2018-02-12 10:05] skhayrulin commented on #135
@slarson I've finally compiled DualSPHysics on my machine with one NVIDIA GPU and run it unfortunately  it finished with segmentation fault error but anyway It compiled and run at least. I can continue to dig further.

[2018-02-12 14:39] clausagerskov opened #143 "Sibernetic crashes with no error message on windows 64 bit"
Windows 10 x64 bit with CUDA 8 and NVIDA 1080 installed with appropriate drivers

Sibernetic crashes when running through visual studio in debug mode with the following input
-f worm_crawl_half_resolution -l_from lpath=C:\Users\claus\Desktop\openworm\sibernetic-development\simulations\C2_FW_2018-02-12_14-27-42, which is the path the files generated by sibernetic_c302.py.
Visual Studio reports the

[2018-02-12 15:09] slarson commented on #143
@clausagerskov 's output from running clinfo:

[code]

[2018-02-12 15:28] clausagerskov commented on #143
seems like i need a different opencl version

[2018-02-12 16:51] clausagerskov commented on #143
Just ran sibernetic again with CUDA 8 with the same error, clinfo:
Number of platforms:				 1
  Platform Profile:				 FULL_PROFILE
  Platform Version:				 OpenCL 1.2 CUDA 8.0.0
  Platform Name:				 NVIDIA CUDA
  Platform Vendor:				 NVIDIA Corporation
  Platform Extensions:				 cl_khr_global_int32_base_atomics cl_khr_global_int32_extended_atomics cl_khr_local_int32_base_atomics cl_khr_local_int32_

[2018-03-09 14:47] clausagerskov commented on #143
I tried getting the offending section of the owPhysicsSimulator.cpp file to give me more error info, which yielded the message: "Could not open file configuration file" just before the crash. Trying to trace the source of that

[2018-03-09 14:54] clausagerskov commented on #143
An interesting note is that if I run the simulator in Visual studio, I get no crashes

[2018-03-16 07:39] clausagerskov commented on #143
As a more general comment, there are many places in the source code where either critical folders are not being made/checked or the script relies on a certain program being installed correctly so would be nice to have less outputless try catch and maybe some way to test if all the requirements are installed for running the sibernetic_c302.py script.

[2018-05-08 10:45] pgleeson opened #144 "Steps towards integration of touch sensation"
- [x] Incorporate recording of pressure in worm body
- [ ] Create configuration with static obstacle (3d block) in front of worm which will cause spike in pressure in location on head when worm bumps into it after a short period of time (e.g. based on [this config](https://github.com/openworm/sibernetic/blob/development/configuration/worm_alone_half_resolution))
- [ ] Make python class to manage i

[2018-06-19 13:17] pgleeson opened #145 "Performance changes in latest development branch"
There seems to be a performance degradation in the latest development version of Sibernetic. Can be tested with the Docker image or with the current development branch:
[code]
The above takes ~32 sec on my machine
[code]
This takes ~3 sec...

[2018-06-19 15:23] pgleeson opened #146 "Pressure file format issue"
When a simulation is run with:

    ./Release/Sibernetic  -f  worm_alone_half_resolution  -no_g -l_to  timelimit=0.0001 timestep=5e-06 logstep=10 device=ALL

it saves a file with the pressure values in file buffers/pressure_buffer.txt. As expected the pressure values for 2 times are saved, for 2285 points on the worm surface.

However the saved info for the points show:

[code]
for the first itera

[2018-06-19 15:58] lungd commented on #145
@pgleeson @skhayrulin It seems like this issue starts with https://github.com/openworm/sibernetic/commit/a52006ecf5edb0ef4a2ab634d1bd730bb3ca9ef6

[code]
~ 11 sec

[code]
~ 22 sec

I added the last steps because there you can see that while the runtime of runFindNeighbors increased a lot, the runtime of runSort and runPCISPH decreased.

[2018-06-19 17:37] pgleeson commented on #145
Thanks for looking into that @lungd!

[2018-08-29 13:35] slarson opened #147 "How to expand the liquid particles?"
A contributor is interested in expanding the size of the environment but doesn't know how to increase the number of liquid particles.  Can this be made configurable or at least added into the documentation what to change?

cc: @a-palyanov @skhayrulin @HamzaTChaudhry

[2018-08-29 13:37] slarson opened #148 "Document the way to access the body position on each step?"
How would a user access the position of the worm in each step while running sibernetic?  Can we add this to the documentation?

cc: @a-palyanov @skhayrulin @HamzaTChaudhry

[2018-08-29 19:53] a-palyanov commented on #148
Do you mean the position of the center of mass of the worm, or a set of points defining worm midline, or something else?

[2018-08-29 19:59] a-palyanov commented on #147
It is necessary to produce a new 'configuration file' with required parameters.
Now it is much easier for me to generate this file than explain how to work with 'generator of configurations', so please descibe what is necessary and I'll try to help with doing this.

[2018-09-14 15:26] slarson commented on #141
Hi @a-palyanov @skhayrulin -- now that the special issue is out; can we take a look at moving this forward?  What do you guys think?

[2018-09-14 15:26] slarson commented on #144
Hi @a-palyanov @skhayrulin -- now that the special issue is out; can we take a look at moving this forward?  What do you guys think?

[2018-09-16 01:43] a-palyanov commented on #144
I'm not a specialist in Python, but I can do the tasks which require modification of Sibernetic.

By the way, here is a paper "Determining the biomechanics of touch sensation in C. elegans" (2017), which might be useful in the context of this issue:
https://www.researchgate.net/publication/320043028_Determining_the_biomechanics_of_touch_sensation_in_C_elegans

[2018-11-23 16:03] pgleeson commented on #145
@skhayrulin @a-palyanov This still seems to be an issue on the development branch. Any ideas?

[2018-11-24 02:11] skhayrulin commented on #145
Hi @pgleeson sorry my fault not enough time I'll try to look at nearest time

[2018-11-24 10:48] pgleeson commented on #145
Thanks @skhayrulin, whenever you have a chance to look into it. Everything seems fine otherwise apart from just being slower.

[2018-11-24 13:31] lungd commented on #145
I am not sure about that (@pgleeson, @skhayrulin)
I run some simulations using the docker container, i.e. Sibernetic simulations (**worm_crawl_half_resolution**) with c302, and got the following result:
***
3eb9914
<img src="https://user-images.githubusercontent.com/5890526/48967645-f9102680-efe3-11e8-8d1e-25cc7df0115d.png" width="400">
<img src="https://user-images.githubusercontent.com/5890526/4

[2018-11-26 11:59] #145 closed

[2019-01-07 09:54] pgleeson opened #153 "Double text in README"
@skhayrulin This commit of yours seems to have cut and paste multiple copies of some sections in the README: https://github.com/openworm/sibernetic/commit/4c29d5f8e1687dea591d41d640d02881777a5e4f#diff-04c6e90faac2675aa89e2176d2eec7d8

[2019-01-16 16:19] lungd opened #154 "Rerun (-l_from) simulation inside openworm container"
There is an issue with the rerun of the Sibernetic simulatoin: https://github.com/openworm/OpenWorm/issues/291
(Sibernetic crashes while rerunning simulation)

It seems like that issue starts with https://github.com/openworm/sibernetic/commit/688a717aa1b5e19208c7eb6225105d32ab15d049 (compile error) and https://github.com/openworm/sibernetic/commit/1b638144b9f93060a33526a7ce99ef8fcb49bf55

I did so

[2019-01-16 16:44] lungd commented on #154
And I think there is an issue with the code starting with https://github.com/openworm/sibernetic/blob/4c29d5f8e1687dea591d41d640d02881777a5e4f/src/owHelper.cpp#L655:

I think it should be:
[code]
and not:

[code]

But this patch doesn't change the membrane issue described above

[2019-01-17 15:57] lungd commented on #154
Update:
The membrane issue is most likely related to the implementation of OpenGL.

I think with a prev version of Sibernetic, the membranes didn't get displayed while rerunning a simulation.
With the current version, including the changes described above, the membranes get displayed but the result looks pretty bad because of the CPU only docker container.

@a-palyanov @skhayrulin, what do you thi

[2019-01-29 03:43] skhayrulin commented on #154
Hi @lungd sorry for late answer, I'll review this at the near time

[2019-01-29 12:38] lungd commented on #146
@pgleeson @skhayrulin I think we can close this issue?

[2019-01-29 16:42] pgleeson commented on #146
Sure, looks to be fixed!

[2019-01-29 16:42] #146 closed

[2019-01-30 16:40] lungd opened #160 "Pressure buffer file issue"
What particles are supposed to be written to the pressure file?
The file should only contain particles belonging to the body of the worm, right?
If that is the case, I think I found a bug.

There should be 2289 elastic matter particles belonging to the worm using 'worm_crawl_half_resolution' config?
[code]
[code]
There are particles with the type, e.g., '2.3' what is interpreted as an agar particl

[2019-01-30 16:43] lungd commented on #160
BTW, there is one more particle using worm_swim_half_resolution?
[code]

[2019-01-31 01:45] skhayrulin commented on #160
@lungd Hi, I've actually supposed to store information about pressure only for particles which is located on the surface of body worm

[2019-01-31 13:46] lungd commented on #160
@skhayrulin I understand now why there should be less than 2289 particles inside the pressure file.
But I am still not sure about the type of the particles.
Is the first particle located on the surface of the worm? (`Particle:	0 Position:	4.19954	2.42451	4.19958	2.3`)

[2019-02-01 12:06] lungd commented on #160
@skhayrulin the question is, why there are particles of type=2.3 inside the file.

As I understand it, only a subset of particles of type > 2 and type < 2.3 should get saved.
So, I still think the content of the pressure file is not correct, or at least not completely as intended.

[2019-02-01 18:39] lungd commented on #144
There is some progress on https://github.com/lungd/sibernetic/tree/touch_sensation
I unintentionally used the dev branch of my repo as base, instead of the dev branch of Sibernetic.
Have a look at https://github.com/lungd/sibernetic/compare/development...lungd:touch_sensation?expand=1, for commits related to touch sensation only.

Every time data gets written to the pressure file, there is a check

[2019-02-04 01:50] skhayrulin commented on #160
@lungd Yep you're right it's the only subset of elastic particles but as far as I know, this indices needed @a-palyanov for manipulating the viscosity of liquid near the worm shell it's better to as him. From the other hand I don't use this I've precalculate set of shell particles from a list of membranes and put information about a particle inside the file as is.

[2019-02-07 18:53] lungd commented on #144
I applied some more changes:

Because the worm is straightened at the beginning of the simulation, I divided the worm into segments, based on the worm's length/width/height.
I defined 5 sections: 3 body sections (each divided into 4 parts) + head + tail.
The generated section file after running master_openworm.py: [sectiontouch.txt](https://github.com/openworm/sibernetic/files/2842174/sectiontouch

[2019-02-08 12:27] lungd commented on #144
Is pressure alone sufficient for detecting touch?
I think we need to check surrounding particles as well, otherwise, we cannot distinguish between pressure coming from the environment, and pressure coming from a body bend?
What do you guys think (@skhayrulin @a-palyanov @pgleeson)?

[2019-02-09 12:41] lungd commented on #154
Fixed

[2019-02-09 12:41] #154 closed

[2019-03-18 10:19] nuragicboy commented on #153
I can fix this

[2019-03-18 10:33] gidili commented on #153
@nuragicboy feel free to open a PR! 🙏

[2019-03-18 20:17] nuragicboy commented on #153
I think i'm done.
The whole readme was duplicated from around line 200, I kept the spelling corrections, that were spread among the 2 copies

[2019-06-02 06:57] hjabo opened #163 "Add more molecular in sibernetic?"
I am studying the KCl chemotaxis comparison of Sibernetic C. elegans and real C. elegans. In recent weeks I try to built Sibernetic on Windows, And I did it. and now I want to add some particles to sibernetic. But I could not find the flow chart related to Sibernetic's code. so I have 3 questions.

1. owPhysicsFluidSimulator looks like the particle related code. Can I use this code to create other

[2019-12-11 14:35] wilhelmbraun opened #165 "User-defined geometries and muscle models"
Dear all,

I wonder whether it is possible to use Sibernetic with user-generated body geometries and muscle models. I couldn't find any hints on how to do this on this github page.

Thanks a lot for your answer.

Best wishes, Wilhelm

[2020-02-21 09:31] pgleeson commented on #153
Done

[2020-02-21 09:31] #153 closed

[2020-02-24 12:02] clausagerskov commented on #143
The source code seems to now be using unix only functions, so if there is no plan to natively support compilation on windows, maybe this should be put as wont fix?

[2020-05-07 03:53] skhayrulin commented on #165
@wilhelmbraun Hi and sorry for super long answer. Actually it's quite hard to solve this task in common way. Main reason that depends on complexity final scene geometrically. I mean that final configuration of particles should satisfy many physical conditions. But despite that there was a some try to do that in this [repo](https://github.com/openworm/sibernetic_config_gen) it generate a sibernetic

[2020-05-07 07:20] skhayrulin commented on #143
@clausagerskov could you please clarify what functions do you mean? As far as I know for building sibernetic you just need use only std lib which is a usually a part of any more or less popular C++ compiler  and it wont be a problem to compile/run code under windows.

[2020-06-26 17:52] drojas034 commented on #165
@skhayrulin Hello, would that repo work in generating different arrangements for external liquid particles? or how would one be able to generate a custom configuration file without the code crashing?
Thanks.

[2020-07-02 04:22] skhayrulin commented on #165
@drojas034 Hello. As far as I remember it worked fine with  simple configs.

[2020-07-07 04:58] drojas034 commented on #165
@skhayrulin Yeah I can see it is successful in the examples, great job! (@lgchemer)

Would there be a need to modify it to create something like the image attached? To have a large cube of liquid particles in front of the worm to simulate a worm movement transitioning from no liquid particles into the liquid particles? I was able to move the particles around by modifying a configuration file direc

[2020-07-17 06:00] drojas034 commented on #147
@a-palyanov thanks for the response. Could you generate a configuration file where the worm goes from an area with little no liquid particles into one with a lot more particles. Something like this below.

Thanks!

![image](https://user-images.githubusercontent.com/55452929/87753703-31740200-c7d1-11ea-82bd-9cb2bbcb9c12.png)

[2020-07-22 17:32] cory020330 opened #168 "Asking for simulation"
Hello, I am a student from South Korea and I am trying to get the sibernetic by using MAC, but it says that .h files are located in awkward locations. Can you help me with it? Otherwise, can I get a demo simulation video of about 10 minutes of sibernetic? Thank you.

[2020-07-23 07:11] skhayrulin commented on #168
@cory020330 hi could you please provide any stack trace or error messages. For running demo simulation you can use simple demo config from config folder info about how to run this you can find in README.md

[2020-07-23 11:18] cory020330 commented on #168
I tried running sibernetic with Mac and innate terminal of OSX, and I stayed on the top level folder. After that, I tried to commence the "export PYTHON~" but it said that there's no .h file available in the folder. So I ctrl+c ctrl+v the .h header file to the top level folder and commenced the "export PHTHON~" but the error message that there's no needed .h file in the folder kept showing. Thank

[2020-07-25 17:29] cory020330 commented on #168
igwanghuiui-MacBook-Pro:sibernetic-development apple$ make all -f makefile.OSX
Building file: src/owSignalSimulator.cpp
Invoking: clang C++ Compiler
g++ -O1 -Wall -c -I/opt/local/Library/Frameworks/Python.framework/Versions/2.7/include/python2.7/ -Iinc -framework OpenCL -fmessage-length=0 -MMD -MP -MF"Release/obj/owSignalSimulator.d" -MT"Release/obj/owSignalSimulator.d" -o "Release/obj/owSignalSim

[2020-07-27 03:38] skhayrulin commented on #168
@cory020330 I suppose that possible makefile for mac is too old we need update it I'll try to do this today when be near my mac. Let you now when finish

[2020-07-27 09:06] cory020330 commented on #168
Thanks. I really appreciate that.

[2020-07-27 17:40] skhayrulin commented on #168
I've just add a couple fixes in makefile.OSX so try now to compile

[2020-07-28 05:17] cory020330 commented on #168
I really thank you for helping me but I don't think this is still working... The following lines are the codes that I used, my Macbook's python version is 2.7.10, and would that be a problem? I think Python.h is missing in the owSignalsimulator but I don't know any deeper... Thank you so much anyway.

igwanghuiui-MacBook-Pro:~ apple$ python --version
Python 2.7.10
igwanghuiui-MacBook-Pro:~ apple$

[2020-07-28 05:25] skhayrulin commented on #168
could you please also provide version of you MacOS

[2020-07-28 05:58] cory020330 commented on #168
Mac OS Catalina 10.15.6
Do you want me to update it?

[2020-07-28 06:38] skhayrulin commented on #168
No, try to replace current makefile.OSX with this [one](https://gist.github.com/skhayrulin/660230b4376f9ea0ba2b056489e5d646). Let me know if it works

[2020-07-28 15:39] cory020330 commented on #168
I replaced the makefile.OSX with the file that you provided and the following lines were on the terminal.  Unfortunately, it contained the same error message... I don't know the problem is, I'm sorry

Last login: Tue Jul 28 19:19:18 on ttys000
igwanghuiui-MBP:~ apple$ python -V
Python 2.7.10
igwanghuiui-MBP:~ apple$ cd /Users/apple/Desktop/sibernetic-development
igwanghuiui-MBP:sibernetic-developm

[2020-07-28 15:57] skhayrulin commented on #168
Ok could you try to build sibernetic in new terminal window and don't redefine `PYTHONLIBDIR, PYTHONHEADERDIR, PYTHONFRAMEWORKDIR`  just run  `make all -f makefile.OSX`. Also could you check if your mac really contains folder ` /System/Library/Frameworks/Python.framework/Versions/2.7/Headers/` and Python.h file in it

[2020-09-27 12:31] clausagerskov opened #169 "Segmentation fault when pressing 1 or 2 to select demo simulation"
after running build.cmd (ow-0.9) on Windows Docker with WSL 2 and running ./Release/Sibernetic, and pressing 1 or 2 when Sibernetic is running results in a segmentation fault.

[2020-09-27 16:34] clausagerskov opened #170 "Segmentation fault when running Sibernetic built on WSL2"
Tried building Sibernetic on Windows Subsystem for Linux 2 (Ubuntu 20.04).
The build succeeds but then when I try to run sibernetic using the usual ./Release/Sibernetic -f worm (or any other configuration file), I get a segmentation fault

[2020-09-27 16:35] clausagerskov commented on #169
using valgrind to get diagnostics returns the following:

[[ Step 7 (total steps: unlimited, t in sim: 0.00014s) dt: 2e-05 (in s), time elapsed: 0.73 (in min) ]]
_runHashParticles:          2.507 ms
_runSort:                  20.308 ms
_runSortPostPass:          10.661 ms
_runIndexx:               107.262 ms
_runIndexPostPass:          1.491 ms
_runFindNeighbors:        269.814 ms
_runPCISPH:

[2020-09-27 19:26] clausagerskov commented on #169
can confirm this happening on an Ubuntu machine, a Windows machine (compiled using Visual Studio 2019), WSL2 on same Windows machine, as well as a docker image, all running either ow-0.9 or newest version of Sibernetic

[2020-09-27 19:37] clausagerskov commented on #170
This seems to be a problem with the WSL2 setup, where the CUDA installation inside WSL2 can't see the Windows driver.

[2020-09-28 08:00] clausagerskov commented on #170
Since this is a problem with WSL2 configuration and not openworm I'll just close it again

[2020-09-28 08:02] clausagerskov commented on #143
Just to clarify, the code does not use Unix only functions, the code is just not readily compilable in Visual Study without some minor modifications which I will post

[2020-09-28 14:49] clausagerskov commented on #143
I will submit my edits separately, but I have successfully compiled sibernetic on Windows x64 with CUDA 11.1 and am able to run the demos and worm, using python 3.8. One roadblock was that there is a bug in the main_sim.py file on line 59 where j = n/2 needs to be j = int(n/2) which was causing an unhandled error when trying to run the main_py from the sibernetic exe.
Would be helpful if siberneti

[2020-09-28 14:49] #143 closed

[2020-09-30 14:54] clausagerskov opened #171 "Header files explicitly links a path to Python.h"
In the following header files, the path to Python.h is linked with the include statement
#include "C:/Python27/include/Python.h":
owNeuronSimulator.h (line 46)
owSignalSimulator.h (line 39)
this should instead be a dynamic link #include "Python.h"

[2020-10-02 14:53] clausagerskov opened #173 "Ubuntu 20.04: free(): double free detected in tchache 2 when replaying simulation"
When running ./Release/Sibernetic -f worm_crawl_half_resolution -l_from lpath=simulations/C2_FW_2020-10-01_21-31-35 after completing the sibernetic_c302.py script, on Ubuntu 20.04 a "free(): double free detected in tchache 2" error message occurs.
Using valgrind to extract the actual error message, a failure to load muscles_activity_buffer.txt is the cause.
How can the path be set on Ubuntu so sib

[2020-10-17 12:43] clausagerskov commented on #173
Closing as cannot replicate this after fresh install of Ubuntu 18

[2020-10-17 12:43] #173 closed, assigned to nobody

[2020-11-18 09:36] waayst opened #175 "No such file or directory muscles_activity_buffer.txt"
When running "python sibernetic_c302.py" prompts an error :
IOError: [Errno 2] No such file or directory: 'simulations/C1_Muscles_2020-11-18_09-23-40/muscles_activity_buffer.txt'
What is the reason and how to solve it?

[2020-11-18 12:27] waayst commented on #175
This is because of a problem with my graphics card driver

[2020-11-18 12:28] #175 closed, assigned to nobody

[2020-12-08 09:37] md-121 commented on #168
Hi everyone,

I also got the "'Python.h' file not found" error during installation but using the makefile.OSX @skhayrulin linked solved my problem! Thank you.
I tested it using macOS Big Sur 11.0.1.

Just wanted to let you know. Maybe this will help someone.

[2021-03-08 01:27] woobin3069 opened #176 "Exception: The provided 'key_property' entry does not appear to be a property"
Hello.
I was running sibernetic_c302.py, but I got an error.

[code]

So I set the environment variable to
`C:\Users\USER\AppData\Local\Temp\main_sim.py\c302\CElegansNeuroML\CElegans\pythonScripts\c302`
but It doesn't work.

And I also searched about key_property error too, but there's nothing about it.

[2021-03-08 03:13] mwatts15 commented on #176
The error comes from owmeta-core or PyOpenWorm (you should only have one of these installed, depending on what version of c302 you're using), but I'm not sure how you get this error. What version of Python, owmeta-core or PyOpenWorm, and c302 are you using? You can get the version numbers for owmeta-core, PyOpenWorm, and c302 like this:
[code]
[code]
May help to know as well what installation proc

[2021-03-09 09:13] woobin3069 commented on #176
I'm using
[code]
But I got an error while checking the version of c302.
`Exception: The provided 'key_property' entry does not appear to be a property`

It was unable to check the version of c302 with the code you provided,
But Pycharm said I'm using 0.7.8
![image](https://user-images.githubusercontent.com/28683998/110447017-245ea700-8103-11eb-928d-0403b9f92af8.png)

[2021-03-10 11:18] pgleeson commented on #176
@woobin3069 The correct version of c302 is certainly 0.7.8. I had neglected to release the new version to pypi, but it's there now and you should be able to install it with just `pip install c302`. That should install the correct versions of owmeta/owmeta_core. You don't need to set the C302_HOME variable.

The best version of sibernetic to use is in here: https://github.com/openworm/sibernetic/tr

[2021-05-18 21:22] ido4848 commented on #144
What's the status of this?

[2021-05-18 21:23] ido4848 commented on #141
What's the status of this?

[2021-08-31 03:02] mwatts15 opened #179 "Use python-config script for Python libraries in makefile"
The makefile uses linker and compiler flags for Python added manually. This makes the build more susceptible to breakage when moving between different versions of Python that happen to require different flags. The python-config script (e.g., python3.8-config) can provide these flags where the script is provided.

[2021-09-06 23:34] mwatts15 opened #180 "Resolve compiler warnings"
Building with GCC, a few compiler warnings are reported. They include a couple unused variables, comparisons between signed and unsigned integers, and use of deprecated exception specifications.

Sibernetic warnings: [sibernetic-warnings.txt](https://github.com/openworm/sibernetic/files/7118024/sibernetic-warnings.txt)

GCC version info:
[code]

[2021-10-08 07:45] #179 closed, assigned to nobody

[2021-12-11 16:12] mwatts15 opened #182 "Add simulation video recording utility"
To support recording of simulation results, it would be useful to have a video recording utility that can take the results of simulation run and record a video. This would be used in the OpenWorm Docker container.

[2022-02-20 20:24] clausagerskov commented on #171
seems to be fixed

[2022-02-20 22:25] clausagerskov commented on #169
when debugging on windows 10 x64 line 327 in owHelper.cpp has an acess violation:
![image](https://user-images.githubusercontent.com/13769591/154867075-5648a155-fd85-406c-886a-77089f3d001e.png)

[2022-02-22 12:14] clausagerskov commented on #169
this actually seems to happen with all shortcuts that change or load config files like "r", "1", and "2". could be that some variable is not initialized properly

[2022-03-13 19:24] clausagerskov commented on #170
This is not a WSL2 error, its a sibernetic issue

[2022-03-13 20:15] clausagerskov commented on #170
impossible to debug sibernetic so just reporting that this is an issue

[2022-03-14 22:22] clausagerskov commented on #169
found the issue, someone removed this command:   owHelper::preLoadConfiguration(config);
from owPhysicsFluidSimulator::reset() right before config->initGridCells();
Readding it restores the button 1 and 2 demo functionality

[2022-03-15 09:49] clausagerskov commented on #165
@drojas034 It should be possible to write a script to create a scene and then copy the already defined worm into it (looking at the readme for how the scene config should be laid out). I have had success creating simple custom objects from elastic material in blender, exporting to ply files and importing into a scene and adding some water.
See this folder with an example jupyter notebook: https://

[2022-03-15 09:51] clausagerskov commented on #165
though to create a box of water you would need to contain it with a boundary, which would also block the worm, not sure its possible to create a boundary just blocking water particles.
Else it should be possible to create a pool that the worm drops into, though it should be noted that sibernetic seems to have segmentation faults at certain large scene sizes/particle numbers

[2022-03-15 09:52] clausagerskov commented on #165
@skhayrulin would a selective boundary be feasible to implement?

[2022-03-15 10:30] clausagerskov commented on #176
It is not recommended to use sibernetic on windows (natively) as the setting up of paths is a mess and the generation of neuron simulation files does not currently work out of the box.
Either use the docker image or WSL2 with Ubuntu 18.04 (20.04 seems to be more difficult to get to work)

[2022-03-15 12:27] mwatts15 commented on #170
@clausagerskov how is it impossible to debug?

[2022-03-15 12:31] clausagerskov commented on #170
i mean i dont know much about debugging segmentation faults in c++, so i should have said i dont know how to do it rather than its impossible

[2022-03-15 12:32] clausagerskov commented on #170
i cant replicate this in 18.04 though on a different machine, might be an opencl issue since i was testing CUDA support in WSL2

[2022-03-15 18:37] clausagerskov commented on #170
Apparently OpenCL on NVIDIA GPUs is not supported on WSL so this is not expected to work

[2022-03-15 18:38] clausagerskov commented on #170
would be cool if someone with an intel gpu could check if they can run sibernetic on it in WSL2 since it should be supported

[2022-03-15 21:58] clausagerskov commented on #170
this is strange, it happens on my nvidia gpu machine whether or not cuda is installed, even with just intel opencl

[2022-03-15 22:48] clausagerskov commented on #170
commented out the try catch that was obscuring the actual cause of the error. turns out its "No OpenCL devices were found"

[2022-03-18 02:32] skhayrulin commented on #165
@clausagerskov I'm not sure that I understand correct. You mean to generate configuration from blender file with some complex boundary?

[2022-03-18 08:19] clausagerskov commented on #165
nono, just if there are boundary particles that only block water and not the worm, but I just realized that that would not work since the worm also contains water

[2022-03-18 08:24] clausagerskov commented on #165
i currently just create boundaries in a jupyter notebook and add in the worm that i copied from the worm config files, the most complex object i have managed to import from blender into sibernetic was a cone

[2022-03-18 08:26] skhayrulin commented on #165
boundary particles locate only on boundary plane and do not move through simulation also it blocks every other particles water, elastic. Water inside the worm does not go outside cause other mechanism so-called membranes (triple of adjacent elastic particles).

[2022-03-18 08:42] skhayrulin commented on #165
As I admitted before (don't remember when and where :)) It's quite difficult problem to create sibernetic configuration from some 3D model e.g. in blender. Main problem is place the particles on right places. I think man who solve this problem can defend PhD by math, computer science and geometry:)

[2022-03-18 09:11] clausagerskov commented on #165
How was the original worm model created?

[2022-03-18 09:16] skhayrulin commented on #165
It was hardcoded [here](https://github.com/openworm/sibernetic/blob/WormBodySimulation/src/owHelper.cpp#L95-L1400) by @a-palyanov after I' stored it into file

[2022-03-20 17:50] clausagerskov commented on #170
this also happens when running in a WSL2 backed docker container.
seems to be a problem when sibernetic selects from opencl platforms and somehow doesnt pick a valid one on systems with nvidia gpus

[2022-03-20 18:04] clausagerskov commented on #170
also happens with hyper-v backed docker containers

[2022-03-20 18:19] clausagerskov commented on #170
clinfo output from docker container:
Number of platforms                               1
  Platform Name                                   Intel(R) OpenCL
  Platform Vendor                                 Intel(R) Corporation
  Platform Version                                OpenCL 1.2
  Platform Profile                                FULL_PROFILE
  Platform Extensions

[2022-03-20 21:49] clausagerskov commented on #165
attached is a configuration file i created myself where i throw a cone i imported from blender along the floor into a pool of water. should be possible to isolate the worm from a different config file and put it into this one instead of the cone [cone_pool](https://www.dropbox.com/s/uwnwpwkz44j7zrm/cone_pool?dl=0)

[2022-03-20 21:51] clausagerskov commented on #165
created using this notebook: [notebook](https://www.dropbox.com/s/bb3f719vekpf0xm/sibernetic.ipynb?dl=0)
and this file exported from blender: [cone3.ply](https://www.dropbox.com/s/2flb6lafkxlr3k1/cone3.ply?dl=0)
exported from the following blender file:
[cone.blender](https://www.dropbox.com/s/mrhjcweksynjikh/cone.blend?dl=0)